<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="doctorRoom" name="title">진료실</title>
    <!-- <link rel="icon" type="images/png" href="../Image/Receipt/receiptInfoTop.png"> -->
    <link rel="stylesheet" href="../Css/common.css">
    <link rel="stylesheet" href="../Css/diagnosis.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/inko@1.1.0/inko.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="node_modules/gridstack/dist/gridstack.min.css" rel="stylesheet" />
    <script src="node_modules/gridstack/dist/gridstack-all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
</head>

<body id="body" style="overflow: scroll; overflow-x: hidden;">
    <div class="menu" style="margin-top: 1px;">
        <div class="dropdown">
            <button class="dropbtn">프로그램</button>
            <div class="dropdown-content">
                <div>
                    <span class="v-line"></span>
                    버전정보
                </div>
                <div>
                    <span class="v-line"></span>
                    기초자료설정
                </div>
                <div>
                    <span class="v-line"></span>
                    종료
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">환자관리</button>
            <div class="dropdown-content">
                <div onclick="PopupOn(0, false, 810, 750);">
                    <span class="v-line"></span>
                    환자검색
                </div>
                <div>
                    <span class="v-line"></span>
                    보험자격조회
                </div>
                <div onclick="PopupOn(5, false, 1200, 745);">
                    <span class="v-line"></span>
                    보험자격이력
                </div>
                <div onclick="PopupOn(3, false, 450, 110,);">
                    <span class="v-line"></span>
                    가족정보
                </div>
                <div onclick="PopupOn(3, false, 450, 110,);">
                    <span class="v-line"></span>
                    소개자 등록
                </div>
                <!-- <div onclick="PopupOn(7, false, 700, 565);">
                    <span class="v-line"></span>
                    치매검사결과
                </div> -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">화면관리</button>
            <div class="dropdown-content">
                <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="checkpastHistory" checked
                        onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="check달력">PastHistory</label>
                </div>
                <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="checkProgressNote" checked
                        onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="checkProgressNote">Progress Note</label>
                </div>
                <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="check과거진료내역" checked
                        onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="check수납정보">과거차트</label>
                </div>
                <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="check달력" checked onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="check진료내역">달력</label>
                </div>
                <!-- <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="check바이탈(외래)" checked
                        onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="check진료내역요약">바이탈(외래)</label>
                </div> -->
                <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="check약속처방" checked
                        onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="check진료상병">약속처방</label>
                </div>
                <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="check진료대기" checked
                        onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="check접수정보">진료대기</label>
                </div>
                <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="check진료상병" checked
                        onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="check환자리스트">진료상병</label>
                </div>
                <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="check접수정보" checked
                        onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="check환자정보">접수정보</label>
                </div>
                <div style="margin-top: -3px;">
                    <input style="margin-left: 7px;" type="checkbox" id="check처방정보요약" checked
                        onclick='checkboxOnOff(id)' />
                    <span class="v-checkBoxLine"></span>
                    <label for="check환자정보">처방정보요약</label>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">EMR기록지</button>
            <div class="dropdown-content">
                <div onclick="PopupOn(19, false, 1650, 1080, 25);">
                    <span class="v-line"></span>
                    협진기록지
                </div>
                <div onclick="PopupOn(19, false, 1650, 1080, 26);">
                    <span class="v-line"></span>
                    전과기록지
                </div>
                <div onclick="PopupOn(19, false, 1650, 1080, 27);">
                    <span class="v-line"></span>
                    전동기록지
                </div>
                <div onclick="PopupOn(19, false, 1650, 1080, 28);">
                    <span class="v-line"></span>
                    Operative Record
                </div>
                <div onclick="PopupOn(19, false, 1650, 1080, 29);">
                    <span class="v-line"></span>
                    영상판독기록지
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">접수관리</button>
            <div class="dropdown-content">
                <div>
                    <span class="v-line"></span>
                    외뢰접수
                </div>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">문서</button>
            <div class="dropdown-content" style="width: 250px;">
                <div id="보장구검수확인서" onclick="PopupOn(19, false, 1650, 1080, 23);">
                    <span class="v-line"></span>
                    보장구검수확인서
                </div>
                <div id=" 당뇨병환자소모성재료처방전(공단)" onclick="PopupOn(19, false, 1650, 1080, 24);">
                    <span class="v-line"></span>
                    당뇨병환자 소모성 재료 처방전(공단)
                </div>
                <div id="초기영양평가결과보고지" onclick="PopupOn(20, false, 1650, 1080, 0);">
                    <span class="v-line"></span>
                    초기영양평가결과보고지
                </div>
                <div id="영양상담의뢰지" onclick="PopupOn(20, false, 1650, 1080, 1);">
                    <span class="v-line"></span>
                    영양상담의뢰지
                </div>
                <div id="영양상담기록지" onclick="PopupOn(20, false, 1650, 1080, 2);">
                    <span class="v-line"></span>
                    영양상담기록지
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">증명서</button>
            <div class="dropdown-content">
                <div id="진단서" onclick="PopupOn(19, false, 1650, 1080, 0);">
                    <span class="v-line"></span>
                    진단서
                </div>
                <div id=" 진단서(영문)" onclick="PopupOn(19, false, 1650, 1080, 1);">
                    <span class="v-line"></span>
                    진단서(영문)
                </div>
                <div id="소견서" onclick="PopupOn(19, false, 1650, 1080, 2);">
                    <span class="v-line"></span>
                    소견서
                </div>
                <div id="의사소견서" onclick="PopupOn(19, false, 1650, 1080, 3);">
                    <span class="v-line"></span>
                    의사소견서
                </div>
                <div id="진료확인서" onclick="PopupOn(19, false, 1650, 1080, 4);">
                    <span class="v-line"></span>
                    진료확인서
                </div>
                <div id="진료확인서(영문)" onclick="PopupOn(19, false, 1650, 1080, 5);">
                    <span class="v-line"></span>
                    진료확인서(영문)
                </div>
                <div id="통원확인서" onclick="PopupOn(19, false, 1650, 1080, 6);">
                    <span class="v-line"></span>
                    통원확인서
                </div>
                <div id="치료확인서" onclick="PopupOn(19, false, 1650, 1080, 7);">
                    <span class="v-line"></span>
                    치료확인서
                </div>
                <div id="의료급여의뢰서" onclick="PopupOn(19, false, 1650, 1080, 8);">
                    <span class="v-line"></span>
                    의료급여의뢰서
                </div>
                <div id="의료급여의뢰서(선택)" onclick="PopupOn(19, false, 1650, 1080, 9);">
                    <span class="v-line"></span>
                    의료급여의뢰서(선택)
                </div>
                <div id="진료의뢰서" onclick="PopupOn(19, false, 1650, 1080, 10);">
                    <span class="v-line"></span>
                    진료의뢰서
                </div>
                <div id="진료회신서" onclick="PopupOn(19, false, 1650, 1080, 11);">
                    <span class="v-line"></span>
                    진료회신서
                </div>
                <div id="장해진단서" onclick="PopupOn(19, false, 1650, 1080, 12);">
                    <span class="v-line"></span>
                    장해진단서
                </div>
                <div id="장애진단서" onclick="PopupOn(19, false, 1650, 1080, 13);">
                    <span class="v-line"></span>
                    장애진단서
                </div>
                <div id="후유장해진단서" onclick="PopupOn(19, false, 1650, 1080, 14);">
                    <span class="v-line"></span>
                    후유장해진단서
                </div>
                <div id="병무용진단서" onclick="PopupOn(19, false, 1650, 1080, 15);">
                    <span class="v-line"></span>
                    병무용진단서
                </div>
                <div id="상해진단서" onclick="PopupOn(19, false, 1650, 1080, 16);">
                    <span class="v-line"></span>
                    상해진단서
                </div>
                <div id="근로능력평가용진단서" onclick="PopupOn(19, false, 1650, 1080, 17);">
                    <span class="v-line"></span>
                    근로능력평가용진단서
                </div>
                <div id="장애인증명서" onclick="PopupOn(19, false, 1650, 1080, 18);">
                    <span class="v-line"></span>
                    장애인증명서
                </div>
                <div id="요양급여의뢰서" onclick="PopupOn(19, false, 1650, 1080, 19);">
                    <span class="v-line"></span>
                    요양급여의뢰서
                </div>
                <div id="요양급여회송서" onclick="PopupOn(19, false, 1650, 1080, 20);">
                    <span class="v-line"></span>
                    요양급여회송서
                </div>
                <div id="건강진단서(보건증)" onclick="PopupOn(19, false, 1650, 1080, 21);">
                    <span class="v-line"></span>
                    건강진단서(보건증)
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">동의서</button>
            <div class="dropdown-content" style="width: 220px;">
                <div id="시술및검사동의서" onclick="PopupOn(20, false, 1650, 1080, 3);">
                    <span class="v-line"></span>
                    시술 및 검사동의서
                </div>
                <div id="개인정보수집및확용동의서" onclick="PopupOn(20, false, 1650, 1080, 4);">
                    <span class="v-line"></span>
                    개인정보 수집 및 확용동의서
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">코드관리</button>
            <div class="dropdown-content">
                <div>
                    <span class="v-line"></span>
                    처방코드
                </div>
                <div>
                    <span class="v-line"></span>
                    묶음코드
                </div>
                <div>
                    <span class="v-line"></span>
                    용법설정
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">출력</button>
            <div class="dropdown-content">
                <div>
                    <span class="v-line"></span>
                    마약향정처방전
                </div>
                <div>
                    <span class="v-line"></span>
                    회진
                </div>
            </div>
        </div>
        <div class="dropdown" onclick="PopupOn(22, false, 1920, 1080);">
            <button class="dropbtn">차트기록조회</button>
            <div class="dropdown-content">
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">PACS Viewer</button>
            <div class="dropdown-content">
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">예약관리</button>
            <div class="dropdown-content">
                <div>
                    <span class="v-line"></span>
                    진료
                </div>
                <div>
                    <span class="v-line"></span>
                    MRI
                </div>
                <div>
                    <span class="v-line"></span>
                    도수치료
                </div>
                <div>
                    <span class="v-line"></span>
                    수술
                </div>
                <div>
                    <span class="v-line"></span>
                    내시경
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">기타설정</button>
            <div class="dropdown-content">
                <div style="width: 200px;">
                    <span class="v-line"></span>
                    보험(사업장)기호관리
                </div>
                <div>
                    <span class="v-line"></span>
                    환자유형관리
                </div>
                <div>
                    <span class="v-line"></span>
                    환자조사표
                </div>
                <div>
                    <span class="v-line"></span>
                    연말정산자료생성
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">환경설정</button>
            <div class="dropdown-content">
                <div id="프로그램설정" style="width: 200px;" onclick="PopupOn(27, false, 1170, 675, 3);">
                    <span class="v-line"></span>
                    프로그램설정
                </div>
                <div id="진료실근무설정">
                    <span class="v-line"></span>
                    진료실 근무 설정
                </div>
                <div id=" 화면잠금">
                    <span class="v-line"></span>
                    화면잠금
                </div>
                <div id="화면저장">
                    <span class="v-line"></span>
                    화면저장
                </div>
            </div>
        </div>

        <span id="favorites">

        </span>
    </div>
    <div class="grid-stack" style="margin-left: 5px;">
        <div class="grid-stack-item" gs-w="12" gs-h="1">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="환자정보"
                    style="width: 100%; height: 100%; background-color: rgb(139, 200, 208);">
                    <div style="margin: 13px 0px 0px 5px;">
                        <div style=" color: white;">
                            <span class="titleFont" style="width: 50px; color: white; margin-left:10px;">
                                환자정보
                            </span>
                            <input class="inputHeight" id="chartNum" type="number" style="width: 70px;"
                                onkeyup="if(window.event.keyCode==13){PatientSearchBtn(this.value)}" />
                            <input class="inputHeight" id="patientName" type="text" style="width: 100px;"
                                onkeyup="if(window.event.keyCode==13){PatientSearchBtn(this.value)}" />
                            <input class="inputHeight inputReadonly" id="juminNumF" type="text" style="width: 55px;"
                                readonly>
                            <input class="inputHeight inputReadonly" id="age" type="text" style="width: 35px; "
                                readonly>
                            <!-- <select style="width: 80px; height: 18px;">
                                <option>내국인</option>
                                <option>외국인</option>
                            </select> -->
                            보험정보 :
                            <input type="text" class="inputReadonly" id="insuranceType" style="width: 168px;" readonly>
                            <span style="margin-left: 5px;">
                                휴대전화 :
                                <input class="inputHeight inputReadonly" id="phoneNumber" type="text"
                                    style="width: 90px;" readonly>
                            </span>
                            기본주소 :
                            <input class="inputHeight inputReadonly" id="detailedAddress" type="text"
                                style="width: 250px;" readonly>
                            - #VIP #만성질환관리
                        </div>
                        <!-- 소개자
                        <input type="text" class="inputReadonly" id="introducer" style="width: 100px;" readonly> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="5">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="pastHistory">
                    <div style="height: 100%; overflow: hidden;">
                        <div style="height: 100%; width: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 5px;  width: 100%;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    style="border: none; margin-top: 3px;"><span class="pointColor">•</span> 환자메모</li>
                            </ul>
                            <div style="height: 96.6%; margin-right: 8.5px;">
                                <textarea id="totalMemo" class="scrollBar"
                                    style="width: 100%; height: 85.1%; border-radius: 0px; margin-left: 3.5px; margin-right: 5px; resize: none; overflow-y: scroll;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="5">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="진료기록">
                    <ul class="diagNoteTabs" style="margin-left: 5px; width: 400px;">
                        <li class="diagNotetTab-link current" data-tab="diagNoteTab-1"
                            style="border: none; margin-top: 3px;">
                            <span class="pointColor">•</span> 진료기록
                        </li>
                        <li class="diagNoteTab-link" data-tab="diagNoteTab-2" style="border: none; margin-top: 3px;">
                            과거진료기록
                        </li>
                    </ul>
                    <div class="diagNoteTab-content current" id="diagNoteTab-1">
                        <div style="height: 100%; margin-right: 8.5px;">
                            <textarea id="diagnosisNote1" class="scrollBar"
                                style="width: 100%; height: 100%; border-radius: 0px; margin-left: 3.5px; margin-right: 5px; resize: none; overflow-y: scroll;"></textarea>
                        </div>
                    </div>
                    <div class="diagNoteTab-content" id="diagNoteTab-2">
                        <div style="height: 87.6%; margin-right: 8.5px;">
                            <textarea id="diagnosisNote2" class="scrollBar"
                                style="width: 100%; height: 88%; border-radius: 0px; margin-left: 3.5px; margin-right: 5px; resize: none; overflow-y: scroll;"
                                readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="5">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="달력">
                    <ul class="waitingPatientTabs" style="margin : 5px 0px 0px 5px; width: 400px;">
                        <!-- <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1" style="border: none;">
                            달력</li> -->
                    </ul>
                    <span style="float: left;">
                        <div style="margin-top: 1.5px; margin-left: -1px;">
                            <table class="Calendar" style="margin-top: 5px;">
                                <thead>
                                    <tr>
                                        <div style="text-align: center; margin-bottom: 12px;">
                                            <span onClick="prevCalendar();"
                                                style="cursor:pointer;  font-size: 15px; font-weight: bold;">&#60;</span>
                                            <span colspan="5" style="margin-left: 20px; margin-right: 20px;">
                                                <span style="font-size: 15px;">
                                                    <span id="calYear1"></span>년
                                                    <span id="calMonth1"></span>월
                                                </span>
                                            </span>
                                            <span onClick="nextCalendar();"
                                                style="cursor:pointer;  font-size: 15px; font-weight: bold;">&#62;</span>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td style="width: 30px; height: 20px;">일</td>
                                        <td style="width: 30px; height: 20px;">월</td>
                                        <td style="width: 30px; height: 20px;">화</td>
                                        <td style="width: 30px; height: 20px;">수</td>
                                        <td style="width: 30px; height: 20px;">목</td>
                                        <td style="width: 30px; height: 20px;">금</td>
                                        <td style="width: 30px; height: 20px;">토</td>
                                    </tr>
                                </thead>
                                <tbody id="Calendar1">
                                </tbody>
                            </table>
                        </div>
                    </span>
                    <span style="float: right">
                        <div style="margin-top: 1.5px;">
                            <table class="Calendar" style="margin-top: 5px;">
                                <thead>
                                    <tr>
                                        <div style="text-align: center; margin-bottom: 12px;">
                                            <span onClick="prevCalendar();"
                                                style="cursor:pointer;  font-size: 15px; font-weight: bold;">&#60;</span>
                                            <span colspan="5" style="margin-left: 20px; margin-right: 20px;">
                                                <span style="font-size: 15px;">
                                                    <span id="calYear2"></span>년
                                                    <span id="calMonth2"></span>월
                                                </span>
                                            </span>
                                            <span onClick="nextCalendar();"
                                                style="cursor:pointer;  font-size: 15px; font-weight: bold;">&#62;</span>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td style="width: 30px; height: 20px;">일</td>
                                        <td style="width: 30px; height: 20px;">월</td>
                                        <td style="width: 30px; height: 20px;">화</td>
                                        <td style="width: 30px; height: 20px;">수</td>
                                        <td style="width: 30px; height: 20px;">목</td>
                                        <td style="width: 30px; height: 20px;">금</td>
                                        <td style="width: 30px; height: 20px;">토</td>
                                    </tr>
                                </thead>
                                <tbody id="Calendar2">
                                </tbody>
                            </table>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="9">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="진료대기">
                    <div style="margin-top: 1px; height: 142.5%;">
                        <ul class="patientListTabs" style="width: 400px; margin-left: 6px;">
                            <li class="patientListTab-link current" id="patientListStay" data-tab="patientListTab-1">대기
                            </li>
                            <li class="patientListTab-link" id="inTreatmentList" data-tab="patientListTab-2"
                                style="margin-left: -6px">진료중</li>
                            <li class="patientListTab-link" id="holdOnList" data-tab="patientListTab-3"
                                style="margin-left: -6px;">보류</li>
                            <li class="patientListTab-link" id="completeList" data-tab="patientListTab-4"
                                style="margin-left: -6px;">완료</li>
                            <li class="patientListTab-link" id="reservationList" data-tab="patientListTab-5"
                                style="margin-left: -6px;">예약(0)</li>
                            <span style="margin-top: -3px;">
                                <img src="../Image/Public/refreshBtn.png" alt="새로고침" class="titleBtwnImgBtn"
                                    onclick="RefreshTables(true)">
                            </span>
                        </ul>
                        <div style="margin-top: 3px;">
                            <span class="basicDateMargin" style="float: right;">
                                <input class="titleFont" id="patientListDate" type="date" name="today"
                                    style="border: none; background-color: white; width: 120px;">
                            </span>
                        </div>
                        <div id="patientListTab-1" class="scrollBar patientListTab-content current"
                            style="height: 64.7%; overflow: scroll;">
                            <table border="1" bgcolor="white" class="patientListTable boderNone"
                                style="width: 100%; min-width: 500px;">
                                <thead>
                                    <tr style="border-left: none;">
                                        <th class="border-style boderNone" style="width: 3%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">환자성명
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">접수시간</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">보험</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료상태</th>
                                        <th class="border-style boderNone" style="width: 50%;font-size: 12px;">전달사항</th>
                                    </tr>
                                </thead>
                                <tbody id="patientList" class="boderNone" style="text-align: center;">

                                </tbody>
                            </table>
                        </div>
                        <div id="patientListTab-2" class="scrollBar patientListTab-content"
                            style="height: 64.7%; border-radius: 3px; overflow: scroll;">
                            <table border="1" bgcolor="white" class="patientListTable boderNone"
                                style="width: 100%; min-width: 500px;">
                                <thead>
                                    <tr style="border-left: none;">
                                        <th class="border-style boderNone" style="width: 3%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">환자성명</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">접수시간</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">보험</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료상태</th>
                                        <th class="border-style boderNone" style="width: 50%; font-size: 12px;">전달사항</th>
                                    </tr>
                                </thead>
                                <tbody id="inTreatmentTable" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                        <div id="patientListTab-3" class="scrollBar patientListTab-content"
                            style="height: 64.7%; border-radius: 3px; overflow: scroll;">
                            <table border="1" bgcolor="white" class="patientListTable boderNone"
                                style="width: 100%; min-width: 500px;">
                                <thead>
                                    <tr style="border-left: none;">
                                        <th class="border-style boderNone" style="width: 3%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">환자성명</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">접수시간</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">보험</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료상태</th>
                                        <th class="border-style boderNone" style="width: 50%; font-size: 12px;">전달사항</th>
                                    </tr>
                                </thead>
                                <tbody id="holdOnTable" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                        <div id="patientListTab-4" class="scrollBar patientListTab-content"
                            style="height: 64.7%; border-radius: 3px; overflow: scroll;">
                            <table border="1" bgcolor="white" class="patientListTable boderNone"
                                style="width: 100%; min-width: 500px;">
                                <thead>
                                    <tr style="border-left: none;">
                                        <th class="border-style boderNone" style="width: 3%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">환자성명</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">접수시간</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">보험</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료상태</th>
                                        <th class="border-style boderNone" style="width: 50%; font-size: 12px;">전달사항</th>
                                    </tr>
                                </thead>
                                <tbody id="completeTable" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                        <div id="patientListTab-5" class="scrollBar patientListTab-content"
                            style="height: 64.7%; border-radius: 3px; overflow: scroll;">
                            <table border="1" bgcolor="white" class="commonTable boderNone">
                                <thead>
                                    <tr style="border-left: none;">
                                        <th class="border-style boderNone" style="width: 3%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">환자성명</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">예약시간</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">휴대전화</th>
                                        <th class="border-style boderNone" style="width: 50%; font-size: 12px;">예약메모
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="reservationTable" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="7">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="ProgressNote">
                    <div style="height: 100%; overflow: hidden;">
                        <div style="height: 100%; width: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 5px;  width: 100%;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    style="border: none; margin-top: 3px;"><span class="pointColor">•</span> 초진기록</li>
                                <button style="float: right; margin: 12px 10px 0px 0px;"
                                    onclick="SaveNoteType()">타입저장</button>
                            </ul>
                            <div style="height: 96.6%; margin-right: 8.5px;">
                                <textarea id="firstVisitNote" class="scrollBar"
                                    style="width: 100%; height: 85.1%; border-radius: 0px; margin-left: 3.5px; margin-right: 5px; resize: none; overflow-y: scroll;"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="5">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item" id="상병내역">
                    <div style="height: 100%;">
                        <div style="height: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 5px; width: 400px;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    id="patientListStay" style="border: none; margin-top: 3px;"><span
                                        class="pointColor">•</span> 상병내역</li>
                            </ul>
                            <div id="waitingPatientTab-1" class="scrollBar waitingPatientTab-content current commonTab"
                                style="height: 84.5%; border: none;">
                                <table border="1" bgcolor="white" class="waitingTable"
                                    style="width: 100%; margin-top: -1px; border: none;">
                                    <thead>
                                        <tr style="border: none;">
                                            <th class="border-style" style="width: 1%; border: none;"></th>
                                            <th class="border-style" style="width: 25%; border: none; font-size: 12px;">
                                                상병코드
                                            </th>
                                            <th class="border-style" style="width: 50%; border: none; font-size: 12px;">
                                                상병명칭
                                            </th>
                                            <th class="border-style" style="width: 25%; border: none; font-size: 12px;">
                                                상병종류
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="diseaseCodeList" style="text-align: center;">
                                        <tr id="diseaseCodeInput" style="border: none;">
                                            <th class="border-style" style="width: 1%; border-left: none;">></th>

                                            <th class="border-style" style="font-size: 12px;">
                                                <input type="text"
                                                    style="width: 95%; border: none; background-color: white; text-align: center;"
                                                    oninput="ChangeEng(this)"
                                                    onkeyup="if(window.event.keyCode==13){DiseaseCodeBtn(this.value, true); this.value = '';}"
                                                    placeholder="코드입력">
                                            </th>
                                            <th class="border-style" style="font-size: 12px;">
                                                <input type="text"
                                                    style="width: 95%; border: none; background-color: white; text-align: center;"
                                                    onkeyup="if(window.event.keyCode==13){DiseaseCodeBtn(this.value, false); this.value = '';}"
                                                    placeholder="명칭입력">
                                            </th>
                                            <th class="border-style" style="font-size: 12px;"></th>
                                            <!-- <th rowspan="1" colspan="17" class="border-style" style="width: 100%;">
                                                <input type="text"
                                                    style="width: 95%; border: none; background-color: white; text-align: center;"
                                                    placeholder="코드/명칭(지시오더:'=')입력.'/청구코드'or/명칭'입력(마스터 조회=원외처방만)"
                                                    onclick="DiseaseCodeInputCreate();">
                                            </th> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="5">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item" id="통계">
                    <div style="height: 100%;">
                        <div style="height: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 5px; width: 400px;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    id="patientListStay" style="border: none; margin-top: 3px;"><span
                                        class="pointColor">•</span> 통계</li>
                            </ul>
                            <div id="waitingPatientTab-1" class="scrollBar waitingPatientTab-content current commonTab"
                                style="height: 84.5%; border: none;">
                                <table border="1" bgcolor="white" class="waitingTable boderLeftNone"
                                    style="width: 100%; margin-top: -1px;">
                                    <thead>
                                        <tr class="boderNone">
                                            <th class="border-style" style="width: 1%; border: none;"></th>
                                            <th class="border-style" style="width: 25%; border: none; font-size: 12px;">
                                                원내코드
                                            </th>
                                            <th class="border-style" style="width: 50%; border: none; font-size: 12px;">
                                                하루통계</th>
                                            </th>
                                            <th class="border-style" style="width: 25%; border: none; font-size: 12px;">
                                                월통계
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="" style="text-align: center;">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="6" gs-h="7">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="진료내역">
                    <div style="height: 100%; margin-top: 5px;">
                        <ul class="treatmentHistoryListTabs" style="width: 100%;">
                            <li class="treatmentHistoryListTab-link current" data-tab="treatmentHistoryListTab-1"><span
                                    class="pointColor">•</span> 처방내역
                            </li>
                            <li class="treatmentHistoryListTab-link" data-tab="treatmentHistoryListTab-2"
                                style="margin-left: -6px;">삭제</li>
                            <!--<li class="treatmentHistoryListTab-link" data-tab="treatmentHistoryListTab-3"
                                style="margin-left: -6px;">PRN</li>
                            <li class="treatmentHistoryListTab-link" data-tab="treatmentHistoryListTab-4"
                                style="margin-left: -6px;">임상병리결과</li>
                            <li class="treatmentHistoryListTab-link" data-tab="treatmentHistoryListTab-5"
                                style="margin-left: -6px;">심사참고</li> -->
                        </ul>
                        <!-- <div style="float: right; width: 325px; margin: -26px 5px 0px 0px;"> -->
                        <div style="float: right; width: 335px; margin: -26px 5px 0px 0px;">
                            <button style="width: 80px; margin-left: 1px;"
                                onclick="TreatmentDetailsBtns('complete');">완료</button>
                            <button style="width: 80px; margin-left: 1px;"
                                onclick="TreatmentDetailsBtns('save')">저장</button>
                            <button style="width: 80px;" onclick="TreatmentDetailsBtns('hold')">보류</button>
                            <button style="width: 80px; margin-left: 1px;"
                                onclick="TreatmentDetailsBtns('cancel')">취소</button>
                            <!-- <button onclick="SpecificDetailsBtn();">특정내역</button> -->
                        </div>

                        <div id="treatmentHistoryListTab-1" class="treatmentHistoryListTab-content current scrollBar"
                            style="height: 82.5%; border-radius: 3px; overflow: scroll; border: none;">
                            <table border="1" bgcolor="white" class="treatmentHistoryListTable"
                                id="treatmentHistoryListTable"
                                style="width: 100%; margin-left: 10px; border: none; margin-top: 10px;">
                                <thead>
                                    <tr class="boderLeftNone" style="border-top: none;">
                                        <th class="border-style" style="width: 3px; border: none;"></th>
                                        <th class="border-style" style="width: 80px; font-size: 12px; border: none;">번호
                                        </th>
                                        <th class="border-style" style="width: 100px; font-size: 12px; border: none;">
                                            처방코드</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">명칭
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">1회
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">횟수
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">일수
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">
                                            용법/검체/부위/방법</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">외
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">파우더
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">MIX
                                        </th>
                                        <!-- <th class="border-style" style="width: 30px;font-size: 12px; border: none;">포터블</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">응급</th> -->
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">예외
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">메모
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">산정
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">급여
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">단가
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">처방의
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="treatmentHistoryList" style="text-align: center;">
                                    <tr id="recipeCodeInput" style="border: none;">
                                        <th class="border-style" style="border-left: none;">></th>
                                        <!-- <th rowspan="1" colspan="17" class="border-style" style="width: 100%;"> -->
                                        <!-- <input type="text"
                                                style="width: 95%; border: none; background-color: white; text-align: center;"
                                                placeholder="코드/명칭(지시오더:'=')입력.'/청구코드'or/명칭'입력(마스터 조회=원외처방만)"
                                                onclick="RecipeCodeInputCreate();"> -->
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;">
                                            <input type="text"
                                                style="width: 95%; border: none; background-color: white; text-align: center;"
                                                onkeyup="if(window.event.keyCode==13){RecipeCodeBtn(this.value, true); this.value = '';}"
                                                oninput="ChangeEng(this)" placeholder="코드입력">
                                        </th>
                                        <th class="border-style" style="font-size: 12px;">
                                            <input type="text"
                                                style="width: 95%; border: none; background-color: white; text-align: center;"
                                                onkeyup="if(window.event.keyCode==13){RecipeCodeBtn(this.value, false); this.value = '';}"
                                                placeholder="명칭입력">
                                        </th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        <th class="border-style" style="font-size: 12px;"></th>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="checkDiag" style="margin-top: 5px">
                            <span id="checkDiagTime" style="margin-left: 5px;">
                                [1진료실 홍종우]
                                [<input type="text" id="checkDiagTime1" style="width: 67px; border: none;">
                                <span id="checkDiagTime2"></span>
                                <input type="text" id="checkDiagTime3" style="width: 51px; border: none;">]
                                [대기 <input type="text" id="checkDiagTime4" style="width: 51px; border: none;">]
                                [진료 <input type="text" id="checkDiagTime5" style="width: 51px; border: none;"
                                    maxlength="8" oninput="MaxInput(this)" onclick="ResetDiagTime()">]
                            </span>
                            <div style="float: right; margin-right: 5px;">
                                <span>
                                    매출 :
                                    <input id="checkDiagPay1" type="number" class="inputReadonly">
                                </span>
                                <span>
                                    자부담 :
                                    <input id="checkDiagPay2" type="number" class="inputReadonly">
                                </span>
                            </div>
                        </div>                                 

                        <div id="treatmentHistoryListTab-2" class="treatmentHistoryListTab-content scrollBar"
                            style="height: 82.5%; border-radius: 3px; overflow: scroll; border: none;">
                            <table border="1" bgcolor="white" class="treatmentHistoryListTable" id="treatmentHistoryListTable"
                            style="width: 100%; margin-left: 10px; border: none; margin-top: 10px;">
                                <thead>
                                    <tr class="boderLeftNone" style="border-top: none;">
                                        <th class="border-style" style="width: 3px; border: none;"></th>
                                        <th class="border-style" style="width: 80px; font-size: 12px; border: none;">번호
                                        </th>
                                        <th class="border-style" style="width: 100px; font-size: 12px; border: none;">
                                            처방코드</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">명칭
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">1회
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">횟수
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">일수
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">
                                            용법/검체/부위/방법</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">외
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">파우더
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">MIX
                                        </th>
                                        <!-- <th class="border-style" style="width: 30px;font-size: 12px; border: none;">포터블</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">응급</th> -->
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">예외
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">메모
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">산정
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">급여
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">단가
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">처방의
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="treatmentHistoryList1" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="8">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item" id="오더참조">
                    <div style="height: 100%;">
                        <div style="height: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 5px; width: 400px;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    id="patientListStay" style="border: none; margin-top: 3px;"><span
                                        class="pointColor">•</span> 오더참조</li>
                            </ul>
                            <div id="waitingPatientTab-1" class="waitingPatientTab-content current commonTab"
                                style="height: 91%; overflow: hidden; border: none;">
                                <div style="display: flex; width: 100%; height: 100%;">
                                    <div class="scrollBar"
                                        style="width: 50%; height: 100%; border: none; background-color: white; margin: -1px; overflow: scroll; overflow-x: hidden;">
                                        <div id="accordionContainer" style="padding: 2px 0px 0px 3px;"></div>
                                    </div>
                                    <div class="scrollBar"
                                        style="margin : -1px 0px 3px 5px; width: 50%; height: 100%; overflow: scroll; overflow-x: hidden; background: white; border: none;">
                                        <div>
                                            <table border="1" bgcolor="white" class="recipeTypeTable"
                                                style="width: 100%; margin: -1px 0px 0px -1px;">
                                                <thead>
                                                    <tr>
                                                        <th class="border-style" style="width: 10%; border: none;"></th>
                                                        <th class="border-style"
                                                            style="width: 90%; border: none; font-size: 12px;">코드
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="recipeTypeList" style="text-align: center; margin: 2px;">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="5">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item" id="처방기록">
                    <div style="height: 100%;">
                        <div style="height: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 5px; width: 400px;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    id="patientListStay" style="border: none; margin-top: 3px;"><span
                                        class="pointColor">•</span> 처방기록</li>
                            </ul>
                            <div style="display: none;">
                                <span class="basicDateMargin" style="float: right;">
                                    <span class="input_date_box">
                                        <input class="titleFont" id="diagNoteSDay" type="date" name="threeMonthsAgo"
                                            style="border: none; background-color: white; width: 120px;">
                                    </span>
                                    ~
                                    <span class="input_date_box">
                                        <input class="titleFont" id="diagNoteEDay" type="date" name="today"
                                            style="border: none; background-color: white; width: 120px;">
                                    </span>
                                </span>
                            </div>
                            <div id="waitingPatientTab-1" class="scrollBar waitingPatientTab-content current commonTab"
                                style="height: 88%; border: none;">
                                <table border="1" bgcolor="white" class="waitingTable  commonTable"
                                    style="width: 100%;">
                                    <tbody id="" style="text-align: center;">
                                        <td colspan="10">
                                            <div id="accordion-container"></div>
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='dochi_context_menu' class="custom-context-menu" style="display: none;">
        <div>
            처방 정보
        </div>
        <ul>
            <li onclick="Set_FG_UPDT(1)"><a>처방내역 삭제</a></li>
            <li onclick="Set_FG_UPDT(0)"><a>처방내역 등록</a></li>
            <li id="drugInfo" onclick="ClickDrugInfo()"><a>약품 정보</a></li>
            <li onclick="PrintPopup()"><a>출력</a></li>
        </ul>
        <div>
            기타
        </div>
        <ul>
            <li onclick=""><a>진찰료 변경 <select id="division1">
                        <option value="">-</option>
                    </select></a></li>
        </ul>
    </div>

    <script src="EMRClass/공통업무/Constants/CdSpcfSmblConstant.js"></script>
    <script src="EMRClass/공통업무/Constants/특정기호구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/상해외인Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/본인부담여부Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/보험종별구분_급여Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/의약분업예외구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/급여적용Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/수납구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/처방항목구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/처방항구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/특정코드Constants.js"></script>
    <script src="EMRClass/공통업무/Constants/RcptItemConstant.js"></script>
    <script src="EMRClass/공통업무/Constants/CommonConstants.js"></script>
    <script src="EMRClass/공통업무/Constants/보험종별구분_공통Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/ErrorMessageConstant.js"></script>
    <script src="EMRClass/공통업무/Constants/진료과목Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/산정코드0801Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/지원구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/항번호Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/산정코드AA진찰료1Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/처방코드정보필드Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/환자메모구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/보험종별구분_공단Constant.js"></script>

    <script src="EMRClass/공통업무/Enums/병원유형Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/환자평가표종류Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/산정특례Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/코드종류Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방수정구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방코드종류Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방행위구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/검진구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/가산정보구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/지원상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/계산유형Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/수납유형입원Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/CommonYesOrNoEnum.js"></script>
    <script src="EMRClass/공통업무/Enums/근무상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/직분구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/진료비영수증종류Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/검사구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/병원종별Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/상병성별구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/픽업상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/나이등급Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/투여방법Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방코드구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/야간공휴구분산정코드Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방등록구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/메모상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/ProgressNote구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/할인코드042Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/영수증마감Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/선택의료신청Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/보험청구여부Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/수납상태구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/초재진구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/정액정율Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/나이구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/지원구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/진료상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/현재진료중Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/보험구분002Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/외래입원구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/HsptlInfo수납_100원미만절사Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/양한방구분Enum.js"></script>

    <script src="EMRClass/진료비/C의약품수기료.js"></script>
    <script src="EMRClass/진료비/C조제투여정보.js"></script>
    <script src="EMRClass/진료비/C진료비영수증.js"></script>
    <script src="EMRClass/진료비/C진료비항목.js"></script>
    <script src="EMRClass/진료비/C영수증기본정보.js"></script>
    <script src="EMRClass/진료비/C요양급여산정율.js"></script>
    <script src="EMRClass/진료비/C본인부담산정식.js"></script>

    <script src="EMRClass/Common/VM/보험정보ViewModel.js"></script>
    <script src="EMRClass/Common/VM/자동코드ViewModel.js"></script>
    <script src="EMRClass/Common/VM/진료처방ViewModel.js"></script>
    <script src="EMRClass/Common/VM/사용자정보ViewModel.js"></script>
    <script src="EMRClass/Common/VM/진료비공통ViewModel.js"></script>
    <script src="EMRClass/Common/VM/접수정보ViewModel.js"></script>
    <script src="EMRClass/Common/VM/코드정보ViewModel.js"></script>
    <script src="EMRClass/Common/VM/지원정보ViewModel.js"></script>

    <script src="EMRClass/Common/Entity/사용자정보.js"></script>
    <script src="EMRClass/Common/Entity/C원내조제일수.js"></script>
    <script src="EMRClass/Common/Entity/진료상병.js"></script>
    <script src="EMRClass/Common/Entity/C대기환자정보.js"></script>
    <script src="EMRClass/Common/Entity/진료처방.js"></script>

    <script src="EMRClass/Common/BL/심사BL.js"></script>
    <script src="EMRClass/Common/BL/수납BL.js"></script>
    <script src="EMRClass/Common/BL/진료처방BL.js"></script>
    <script src="EMRClass/Common/BL/CommonBL.js"></script>

    <script src="EMRClass/Common/Utils/CommonUtils.js"></script>
    <script src="EMRClass/Common/Utils/Common접수Util.js"></script>
    <script src="EMRClass/Common/Utils/postGetData.js"></script>

    <script src="EMRClass/EF/T_NOTE_TYPE.js"></script>
    <script src="EMRClass/EF/T_TREAT_DX.js"></script>
    <script src="EMRClass/EF/T_APPNTMNT.js"></script>
    <script src="EMRClass/EF/T_TREAT_NOTE.js"></script>
    <script src="EMRClass/EF/T_CHART_MEMO.js"></script>
    <script src="EMRClass/EF/T_TREAT.js"></script>
    <script src="EMRClass/EF/T_ACCEPT.js"></script>
    <script src="EMRClass/EF/T_CHART_INS.js"></script>
    <script src="EMRClass/EF/T_CHART.js"></script>

    <script src="getDB.js"></script>
    <script src="common.js"></script>
    <script src="diagnosis.js"></script>
    <script src="patientInquiry.js"></script>
    <script src="basicInfo//prescriptionCode.js"></script>
    <script src="basicInfo//bundleCode.js"></script>
    <script src="diseaseCode.js"></script>
    <script src="frm수납지시.js"></script>
    <script src="pastMedicalRecords.js"></script>
    <!-- <script src="EMRClass/EF/T_DEPT_SPRT.js"></script> -->
</body>
</div>

</html>