<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="../Css/login.css?ver=0.02">

</head>

<body>
  <header>
    <div>
      <img src="../Image/Login/logo.png" alt="로고" style="-webkit-user-drag: none;"></img>
      <div style="margin-top: 80px;">
        <img src="../Image/Login/UI_0005_login.png" alt="타이틀" style="-webkit-user-drag: none;"></img>
      </div>

      <div style="margin-top: 50px;">
        <input placeholder="아이디" id="id" class="loginInput" type="text" style="width: 220px; height: 40px;">
      </div>
      <div style="margin-top: -15px;">
        <input placeholder="비밀번호" id="password" class="loginInput" type="password" style="width: 220px; height: 40px;">
      </div>
      <div style="margin-top:-25px;">
        <div><img src="../Image/Login/passChange.png" alt="비밀번호변경" style="-webkit-user-drag: none; cursor: pointer;"
            onclick="ChangePassword();"></img>
        </div>
        <div style="margin-top: 30px;">
          <!-- <img src="../Image/Login/loginbtn.png" alt="로그인버튼" style="-webkit-user-drag: none;"
            onclick="LoginBtn()"></img></button> -->
          <img src="../Image/Login/loginbtn.png" alt="로그인버튼" style="-webkit-user-drag: none;" onclick="LoginBtn()"></img></button>
        </div>
      </div>
      <div style="margin-top: 80px;">
        <img src="../Image/Login/welcome.png" style="-webkit-user-drag: none;"></img>
      </div>
    </div>
  </header>


  <script src="login.js"></script>
</body>

</html>