.container {
  width: 100%;
  margin: 0 auto;
}

.item {  
  /* border-width: 1px;
  border-color: rgb(197, 220, 235);
  border-style: solid; */

  border: none;
      
  width: 100%;
  height: 100%;
  border-radius: 5px;

  overflow: hidden;
  background-color: white;
}

div.item {
  float: left;
}

div.gridLeft {
  float: left;
}


.title {
  padding-left: 10px;
  padding-top: 2px;
  background-color: rgb(235, 202, 254);
  border-radius: 5px 5px 0px 0px;
}

.inputLeft {
  margin-left: 0.2rem;
}

select {
  width: 80px;
  height: 22px;
}

.dateText {
  font-size: 12px;
}

textarea {
  width: 450px;
  height: 390px;

  margin-top: 5px;
  margin-left: 3px;
  border-radius: 5px;
  border-style: solid;
}

textarea.no-border {
  border-bottom: none;
}

.imageSize {
  width: 15px;
  height: 15px;

}

.marginRight {
  margin-right: 10px;
}

/* .patientInquiryPopup {
  width: 810;
  height: 510px;

  border-width: 1px;
  border-color: black;
  border-style: solid;

  background-color: rgb(240, 240, 240);

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: none;
}

.specificDetailsPopup {
  width: 1210px;
  height: 500px;

  border-width: 1px;
  border-color: black;
  border-style: solid;

  background-color: rgb(240, 240, 240);

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: none;
} */

.patientInfoTable {
  width: 774px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  border-radius: 5px 0px 0px 0px; 

  border-color: rgb(230, 234, 239);
}

.specificDetailsTable {
  width: 1180px;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; 
  border-radius: 5px 0px 0px 0px; 

  border-color: rgb(230, 234, 239);
}


.treatmentHistoryTable {
  width: 510px;
  margin-left: 2px;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

  border-color: rgb(230, 234, 239);
}

.inputHeight {
  line-height: 15px;
  height: 15px;
}

/* 환자리스트 탭 */
.patientListTable {
  width: 100%;
  margin-top: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-color: rgb(230, 234, 239);
}

ul.waitingPatientTabs {
  /* margin: 0px;
  padding: 0px; */
  margin-top: -6px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

ul.waitingPatientTabs li {
  background: none;
  border-color: rgb(197, 220, 235);
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 10px 5px;

  background-color: rgb(211, 227, 243);
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  font-size: 10pt;
  margin-left: -6px;
}

ul.waitingPatientTabs li.current {
  background: white;
  color: #666;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
}

.waitingPatientTab-content {
  display: none;
  background: white;
  height: 172px;
  margin-left: 5px;


  border-width: 1px;
  border-color: rgb(197, 220, 235);

  border-style: solid;
}

.waitingPatientTab-content.current {
  display: inherit;
}

/* 접수정보 탭 */
.receptionInfoTable {
  margin-top: -6px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

ul.patientListTabs {
  margin-top: -6px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

ul.patientListTabs li {
  background: none;
  /* border-color: rgb(197, 220, 235); */
  border-color: white;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 10px 5px;

  /* background-color: rgb(211, 227, 243); */
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  font-size: 10pt;
  margin-left: -6px;    
}

ul.patientListTabs li.current {
  background: white;
  color: #666;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
}

.patientListTab-content {
  display: none;
  background: white;
  height: 172px;  

  border-width: 1px;
  /* border-color: rgb(197, 220, 235); */
  border-color: white;

  border-style: solid;
  margin-left: 10px;
}

.patientListTab-content.current {
  display: inherit;
}

/* 진료상병 탭 */
.diagnosisSangbyeongListTable {
  width: 1600px;
  margin-left: -1px;
  margin-top: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-color: rgb(230, 234, 239);
}

ul.diagnosisSangbyeongListTabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.diagnosisSangbyeongListTabs li {
  background: none;
  border-color: rgb(197, 220, 235);
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 4px 5px;
  cursor: pointer;
  background-color: rgb(211, 227, 243);
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}

ul.diagnosisSangbyeongListTabs li.current {
  background: white;
  color: #666;
  border-radius: 5px 5px 0px 0px;
}

.diagnosisSangbyeongListTab-content {
  display: none;
  background: white;

  height: 172px;
  margin-right: 5px;


  border-width: 1px;
  border-color: rgb(230, 234, 239);
  border-style: solid;
}

.diagnosisSangbyeongListTab-content.current {
  display: inherit;
}

/* progress note 탭 */
.progressNoteListTable {
  width: 1600px;
  margin-left: 1px;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-color: rgb(230, 234, 239);
}

ul.progressNoteListTabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.progressNoteListTabs li {
  background: none;
  border-color: rgb(197, 220, 235);
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 4px 5px;
  cursor: pointer;
  background-color: rgb(211, 227, 243);
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}

ul.progressNoteListTabs li.current {
  background: white;
  color: #666;
  border-radius: 5px 5px 0px 0px;
}

.progressNoteListTab-content {
  display: none;
  background: white;
  
  margin-right: 5px;
  
 
}

.progressNoteListTab-content.current {
  display: inherit;
}

/* 진료내역 탭 */
.treatmentHistoryListTable {  
  margin-left: -1px;
  margin-top: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

ul.treatmentHistoryListTabs {
  margin-top: -6px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
  
}

ul.treatmentHistoryListTabs li {
  background: none;
  /* border-color: rgb(197, 220, 235); */
  /* border-style: solid; */
  border-width: 1px;
  display: inline-block;
  padding: 10px 5px;
  border: none;

  /* background-color: rgb(211, 227, 243); */
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  font-size: 10pt;
 
}

ul.treatmentHistoryListTabs li.current {
  /* background: white; */
  color: #666;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
}

.treatmentHistoryListTab-content {
  display: none;
  /* background: white; */
  height: 172px;  

  /* border-width: 1px; */
  /* border-color: rgb(197, 220, 235); */

  border-style: solid;
}

.treatmentHistoryListTab-content.current {
  display: inherit;
}

textarea:focus {
  outline: none;
}

/* 처방정보요약테이블 */
.prescriptionInfoTable{
  width: 774px;
  
  margin-top: -1px;
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
    
  border-color: rgb(230, 234, 239);
}


/* 처방정보요약테이블 */
.receptionInfoTable{
  width: 1100px;
  
  margin-top: -1px;
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  

  border-color: rgb(230, 234, 239);
}

/* 약속처방 탭 */
.promisePrescriptionListTable {
  width: 1860px;
  margin-left: 1px;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-color: rgb(230, 234, 239);
}

ul.promisePrescriptionListTabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.promisePrescriptionListTabs li {
  background: none;
  border-color: rgb(197, 220, 235);
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 4px 5px;
  cursor: pointer;
  background-color: rgb(211, 227, 243);
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
}

ul.promisePrescriptionListTabs li.current {
  background: white;
  color: #666;
  border-radius: 5px 5px 0px 0px;
}

.promisePrescriptionListTab-content {
  display: none;
  background: white;

  height: 450px;

  margin-right: 5px;
}

.promisePrescriptionListTab-content.current {
  display: inherit;
}

ul.diagNoteTabs {
  margin-top: -6px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

ul.diagNoteTabs li {
  background: none;
  /* border-color: rgb(197, 220, 235); */
  border-color: white;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 10px 5px;

  /* background-color: rgb(211, 227, 243); */
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  font-size: 10pt;
  margin-left: -6px;    
}

ul.diagNoteTabs li.current {
  background: white;
  color: #666;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
}

.diagNoteTab-content {
  display: none;
  background: white;
  height: 172px;  

  border-width: 1px;
  /* border-color: rgb(197, 220, 235); */
  border-color: white;

  border-style: solid;
}

.diagNoteTab-content.current {
  display: inherit;
}