/* 아코디언 스타일 */
.accordion-item {
  margin-top: -15px;
  width: 100%;
}

.accordion-button {
  background-color: rgb(211, 227, 243);
  color: rgb(67, 75, 82);
  border: none;
  text-align: left;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.accordion-button:hover {
  background-color: rgb(197, 220, 235);
}

.accordion-button.collapsed::after {
  content: '\002B';
  float: right;
}

.accordion-button.collapsed.active::after {
  content: '\2212';
  float: right;
}

.accordion-collapse {
  background-color: #f8f9fa;
  overflow: hidden;
}

.accordion-body {
  display: block;
  width: 100%;   
}

/* 활성화된 아코디언 스타일 */
.accordion-button.active {
  background-color: rgb(197, 220, 235);
}

.accordion-collapse.active {
  display: block;
  width: 100%;
}

.accordion-content {
  display: none;
  width: 100%;
}

.accordion-content.active {
  display: block;
  margin-top: -15px;
  width: 100%;
  background-color: white;
}