/* html, body{ */
    /* overflow-x: auto; */
/* } */
/* WIDTH */
.w100{
    width: 100% !important;
}
.w95{
    width: 95% !important;
}
.w90{
    width: 90% !important;
}
.w85{
    width: 85% !important;
}
.w80{
    width: 80% !important;
}
.w70{
    width: 70% !important;
}
.w60{
    width: 60% !important;
}
.w50{
    width: 50% !important;
}
.w40{
    width: 40% !important;
}
.w49{
    width: 49% !important;
}
.w30{
    width: 30% !important;
}
.w29{
    width: 29% !important;
}
.w25{
    width: 25% !important;
}
.w20{
    width: 20% !important;
}
.w15{
    width: 15% !important;
}
.w12{
    width: 12% !important;
}
.w10{
    width: 10% !important;
}
.w5{
    width: 5% !important;
}
.w3{
    width: 3% !important;
}


/* HEIGHT */
.h50{
    height: 50px !important;
}
.h45{
    height: 45px !important;
}
.h40{
    height: 40px !important;
}
.h30{
    height: 30px !important;
}
.h20{
    height: 20px !important;
}

/* FONT */
.bold{
    font-weight: bold;
}
.nowrap{
    white-space: nowrap;
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}
.color_blue{
    color: var(--success);
}


/* INPUT */
input{
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: var(--white);
}
input.ip{
    padding: 0 5px;
    font-size: 14px;
    border-radius: 0;
    width: 100%;
    font-size: 12px;
}
input.ip.blue{
    border: 1px solid var(--line-blue);
}
input.ip.blue.readonly{
    background-color: var(--bg-blue);
}
input.ip.bg_blue{
    background-color:var(--btn-blue);
}

/* TEXTAREA */
textarea.txtarea{
	background-color:#fff;
	box-sizing:border-box;
	width:100%;
	height:65px;
	position:relative;
	padding:5px;
	border:none;
	outline:none;
	resize:none;
}
textarea.txtarea.blue{
    border: 1px solid var(--line-blue);
}
textarea.txtarea.blue.readonly{
    background-color: var(--bg-blue);
}

/* SELECT */
select.slc{
	width:100%;
	outline:none;
}
select.slc.blue{
    border: 1px solid var(--line-blue);
}
select.slc.blue.readonly{
    background-color: var(--bg-blue);
}

/*  BUTTON */
.btn{
	width:100%;
	height:25px;
	border-radius:5px;
	outline:none;
	border:none;
	cursor:pointer;
}
.btn.round{
	border-radius:20px;
}
.btn.btn-blue{
	background-color:var(--btn-blue);
	color:var(--gray-dark);
    border: 1px solid var(--line-blue);
    box-sizing: border-box;
}

/* checkbox */
.CmInputBox{
    position:relative;
    padding-left:20px;
    cursor:pointer;
    /* font-size:14px; */
}
.CmInputBox input[type=checkbox]{display:none}
.CmInputBox input[type=checkbox] + .CmCheckIcon{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    margin:auto 0;
    width:14px;height:14px;
    background-color:var(--white);
    border:1px solid var(--line-gray);
    box-sizing: border-box;
}
/* .CmInputBox input[type=checkbox]:checked + .CmCheckIcon{background-color:#0099ff} */

/* checkbox:checked */
.CmInputBox input[type=checkbox]:checked ~ .CmCheckIcon:before {
    content:" ";
    display:block;
    position:absolute;
    left:3px;
    top:-4px;
    width:4px;
    height:12px;
    border:solid var(--gray-dark);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display:block;
}
.CmRadio{
    position:relative;
    padding-left:17px;
    cursor:pointer;
    box-sizing:border-box;
    display:flex;
    align-items:center
}
.CmRadio input[type=radio]{display:none}
.CmRadio input[type=radio] + .CmCheckIcon{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto 0;width:12px;height:12px;border:1px solid var(--secondary);border-radius:100%;background-color:var(--white);}

/* radio:checked */
.CmRadio input[type=radio]:checked ~ .CmCheckIcon:before {content:" ";position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:6px;height:6px;border:1px solid var(--blue);border-radius:100%;background-color:var(--blue);display:block;}