<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="storageRoom" name="title">수납관리</title>
    <!-- <link rel="icon" type="images/png" href="../Image/Receipt/receiptInfoTop.png"> -->
    <link rel="stylesheet" href="../Css/acceptance.css">
    <link rel="stylesheet" href="../Css/common.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!-- jQuery -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="node_modules/gridstack/dist/gridstack-all.js"></script>
    <link href="node_modules/gridstack/dist/gridstack.min.css" rel="stylesheet" />
</head>

<body id="body" style="overflow: scroll; overflow-x: hidden;">
    <div class="menu" id="menu">
        <div>
            <!-- <div class=" dropdown">
                <button class="dropbtn">프로그램</button>
                <div class="dropdown-content">
                    <div>
                        <div id="check버전정보">
                            <span class="v-line"></span>
                            버전정보
                        </div>
                        <div id="check기초자료설정">
                            <span class="v-line"></span>
                            기초자료설정
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="dropdown">
                <button class="dropbtn">화면관리</button>
                <div class="dropdown-content">
                    <div style="margin-top: -3px;">
                        <input style="margin-left: 7px;" type="checkbox" id="check달력" checked
                            onclick='checkboxOnOff(id)' />
                        <span class="v-checkBoxLine"></span>
                        <label for="check달력">달력</label>
                    </div>
                    <div style="margin-top: -3px;">
                        <input style="margin-left: 7px;" type="checkbox" id="check수납정보" checked
                            onclick='checkboxOnOff(id)' />
                        <span class="v-checkBoxLine"></span>
                        <label for="check수납정보">수납정보</label>
                    </div>
                    <div style="margin-top: -3px;">
                        <input style="margin-left: 7px;" type="checkbox" id="check진료내역" checked
                            onclick='checkboxOnOff(id)' />
                        <span class="v-checkBoxLine"></span>
                        <label for="check진료내역">진료내역</label>
                    </div>
                    <div style="margin-top: -3px;">
                        <input style="margin-left: 7px;" type="checkbox" id="check진료내역요약" checked
                            onclick='checkboxOnOff(id)' />
                        <span class="v-checkBoxLine"></span>
                        <label for="check진료내역요약">진료내역요약</label>
                    </div>
                    <div style="margin-top: -3px;">
                        <input style="margin-left: 7px;" type="checkbox" id="check진료상병" checked
                            onclick='checkboxOnOff(id)' />
                        <span class="v-checkBoxLine"></span>
                        <label for="check진료상병">진료상병</label>
                    </div>
                    <!-- <div style="margin-top: -3px;">
                        <input style="margin-left: 7px;" type="checkbox" id="check접수정보" checked
                            onclick='checkboxOnOff(id)' />
                        <span class="v-checkBoxLine"></span>
                        <label for="check접수정보">접수정보</label>
                    </div> -->
                    <div style="margin-top: -3px;">
                        <input style="margin-left: 7px;" type="checkbox" id="check환자리스트" checked
                            onclick='checkboxOnOff(id)' />
                        <span class="v-checkBoxLine"></span>
                        <label for="check환자리스트">환자리스트</label>
                    </div>
                    <div style="margin-top: -3px;">
                        <input style="margin-left: 7px;" type="checkbox" id="check환자정보" checked
                            onclick='checkboxOnOff(id)' />
                        <span class="v-checkBoxLine"></span>
                        <label for="check환자정보">환자정보</label>
                    </div>
                    <div style="margin-top: -3px;">
                        <input style="margin-left: 7px;" type="checkbox" id="checkProgressNote" checked
                            onclick='checkboxOnOff(id)' />
                        <span class="v-checkBoxLine"></span>
                        <label for="checkProgressNote">Progress Note</label>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">환자관리</button>
                <div class="dropdown-content">
                    <div>
                        <div onclick="PopupOn(0, false, 810, 750);">
                            <span class="v-line"></span>
                            환자검색
                        </div>
                        <div onclick="PopupOn(4, false, 1600, 835);">
                            <span class="v-line"></span>
                            보험유형변경
                        </div>
                        <div onclick="PopupOn(5, false, 1200, 745);">
                            <span class="v-line"></span>
                            보험자격이력
                        </div>
                        <!-- <div onclick="PopupOn(7, false, 700, 565);">
                            <span class="v-line"></span>
                            치매검사결과
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">접수관리</button>
                <div class="dropdown-content">
                    <div>
                        <div id="check예약접수" onclick="PopupOn(5, false, 1200, 703);">
                            <span class="v-line"></span>
                            예약접수
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">수납관리</button>
                <div class="dropdown-content">
                    <div style="width: 250px;">
                        <div id="check진료비" onclick="PopupOn(21, false, 1000, 550);">
                            <span class="v-line"></span>
                            진료비(약제비)납입 확인서
                        </div>
                        <div id="check진료비명세서">
                            <span class="v-line"></span>
                            진료비명세서
                        </div>
                        <div onclick="PopupOn(10, false, 1200, 800);">
                            <span class="v-line"></span>
                            의료급여승인내역확인서
                        </div>
                        <div id="check현금영수증발행대장">
                            <span class="v-line"></span>
                            현금영수증발행대장
                        </div>
                        <div id="check카드영수증발행대장">
                            <span class="v-line"></span>
                            카드영수증발행대장
                        </div>
                        <div onclick="PopupOn(13, false, 1920, 1080);">
                            <span class="v-line"></span>
                            마감관리
                        </div>
                        <div onclick="PopupOn(11, false, 1920, 1080);">
                            <span class="v-line"></span>
                            월별 수납현황
                        </div>
                        <div onclick="PopupOn(12, false, 1920, 1080);">
                            <span class="v-line"></span>
                            년도별 수납현황
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="dropdown">
                <button class="dropbtn">외래환자관리</button>
                <div class="dropdown-content">
                    <div id="check외래접수검색">
                        <span class="v-line"></span>
                        외래접수검색
                    </div>
                </div>
            </div> -->
            <div class="dropdown">
                <button class="dropbtn">증명서</button>
                <div class="dropdown-content">
                    <div style="width: 200px;" onclick="PopupOn(19, false, 1650, 1080, 0);">
                        <span class="v-line"></span>
                        진단서
                    </div>
                    <div id="check진단서(영문)" onclick="PopupOn(19, false, 1650, 1080, 1);">
                        <span class="v-line"></span>
                        진단서(영문)
                    </div>
                    <div id="check소견서" onclick="PopupOn(19, false, 1650, 1080, 2);">
                        <span class="v-line"></span>
                        소견서
                    </div>
                    <div id="check의사소견서" onclick="PopupOn(19, false, 1650, 1080, 3);">
                        <span class="v-line"></span>
                        의사소견서
                    </div>
                    <div id="check진료확인서" onclick="PopupOn(19, false, 1650, 1080, 4);">
                        <span class="v-line"></span>
                        진료확인서
                    </div>
                    <div id="check진료확인서(영문)" onclick="PopupOn(19, false, 1650, 1080, 5);">
                        <span class="v-line"></span>
                        진료확인서(영문)
                    </div>
                    <div id="check통원확인서" onclick="PopupOn(19, false, 1650, 1080, 6);">
                        <span class="v-line"></span>
                        통원확인서
                    </div>
                    <div id="check치료확인서" onclick="PopupOn(19, false, 1650, 1080, 7);">
                        <span class="v-line"></span>
                        치료확인서
                    </div>
                    <div id="check의료급여의뢰서" onclick="PopupOn(19, false, 1650, 1080, 8);">
                        <span class="v-line"></span>
                        의료급여의뢰서
                    </div>
                    <div id="check의료급여의뢰서(선택)" onclick="PopupOn(19, false, 1650, 1080, 9);">
                        <span class="v-line"></span>
                        의료급여의뢰서(선택)
                    </div>
                    <div id="check진료의뢰서" onclick="PopupOn(19, false, 1650, 1080, 10);">
                        <span class="v-line"></span>
                        진료의뢰서
                    </div>
                    <div id="check진료회신서" onclick="PopupOn(19, false, 1650, 1080, 11);">
                        <span class="v-line"></span>
                        진료회신서
                    </div>
                    <div id="check장해진단서" onclick="PopupOn(19, false, 1650, 1080, 12);">
                        <span class="v-line"></span>
                        장해진단서
                    </div>
                    <div id="check장애진단서" onclick="PopupOn(19, false, 1650, 1080, 13);">
                        <span class="v-line"></span>
                        장애진단서
                    </div>
                    <div id="check후유장해진단서" onclick="PopupOn(19, false, 1650, 1080, 14);">
                        <span class="v-line"></span>
                        후유장해진단서
                    </div>
                    <div id="check병무용진단서" onclick="PopupOn(19, false, 1650, 1080, 15);">
                        <span class="v-line"></span>
                        병무용진단서
                    </div>
                    <div id="check상해진단서" onclick="PopupOn(19, false, 1650, 1080, 16);">
                        <span class="v-line"></span>
                        상해진단서
                    </div>
                    <div id="check근로능력평가용진단서" onclick="PopupOn(19, false, 1650, 1080, 17);">
                        <span class="v-line"></span>
                        근로능력평가용진단서
                    </div>
                    <div id="check장애인증명서" onclick="PopupOn(19, false, 1650, 1080, 18);">
                        <span class="v-line"></span>
                        장애인증명서
                    </div>
                    <div id="check요양급여의뢰서" onclick="PopupOn(19, false, 1650, 1080, 19);">
                        <span class="v-line"></span>
                        요양급여의뢰서
                    </div>
                    <div id="check요양급여회송서" onclick="PopupOn(19, false, 1650, 1080, 20);">
                        <span class="v-line"></span>
                        요양급여회송서
                    </div>
                    <div id="check건강진단서(보건증)" onclick="PopupOn(19, false, 1650, 1080, 21);">
                        <span class="v-line"></span>
                        건강진단서(보건증)
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">증명서 관리</button>
                <div class="dropdown-content">
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">문서</button>
                <div class="dropdown-content">
                    <div id="check보장구검수확인서" style="width: 320px;" onclick="PopupOn(19, false, 1650, 1080, 23);">
                        <span class="v-line"></span>
                        보장구검수확인서
                    </div>
                    <div id="check당뇨병환자소모성재료처방전(공단)" onclick="PopupOn(19, false, 1650, 1080, 24);">
                        <span class="v-line"></span>
                        당뇨병환자 소모성 재료 처방전(공단)
                    </div>
                    <div id="check초기영양평가결과보고지" onclick="PopupOn(20, false, 1650, 1080, 0);">
                        <span class="v-line"></span>
                        초기영양평가결과보고지
                    </div>
                    <div id="check영양상담의뢰지" onclick="PopupOn(20, false, 1650, 1080, 1);">
                        <span class="v-line"></span>
                        영양상담의뢰지
                    </div>
                    <div id="check영양상담기록지" onclick="PopupOn(20, false, 1650, 1080, 2);">
                        <span class="v-line"></span>
                        영양상담기록지
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">동의서</button>
                <div class="dropdown-content">
                    <div id="check시술및검사동의서" style="width: 260px;" onclick="PopupOn(20, false, 1650, 1080, 3);">
                        <span class="v-line"></span>
                        시술 및 검사동의서
                    </div>
                    <div id="check개인정보수집및확용동의서" onclick="PopupOn(20, false, 1650, 1080, 4);">
                        <span class="v-line"></span>
                        개인정보 수집 및 확용동의서
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">진료의무기록발행</button>
                <div class="dropdown-content">
                    <div id="check진료의무기록사본표지출력" style="width: 260px;" onclick="PopupOn(19, false, 1650, 1080, 22);">
                        <span class="v-line"></span>
                        진료의무기록사본표지출력
                    </div>
                    <div id="check진료의무기록출력">
                        <span class="v-line"></span>
                        진료의무기록출력
                    </div>
                    <div id="check진료의무기록발급대장">
                        <span class="v-line"></span>
                        진료의무기록발급대장
                    </div>
                </div>
            </div>
            <div class="dropdown" onclick="PopupOn(22, false, 1920, 1080);">
                <button class="dropbtn">차트기록조회</button>
                <div class="dropdown-content">
                </div>
            </div>
            <!-- <div class="dropdown">
                <button class="dropbtn">통계</button>
                <div class="dropdown-content">                
                    <div id="check자보/산재대장">
                        <span class="v-line"></span>
                        자보/산재 대장
                    </div>
                  
                </div>
            </div> -->
            <div class="dropdown">
                <button class="dropbtn">기타관리</button>
                <div class="dropdown-content">
                    <div onclick="PopupOn(15, false, 700, 535);">
                        <span class="v-line"></span>
                        보험(사업장)기호관리
                    </div>
                    <div onclick="PopupOn(16, false, 700, 515);">
                        <span class="v-line"></span>
                        환자유형관리
                    </div>
                    <div id="check환자조사표">
                        <span class="v-line"></span>
                        환자조사표
                    </div>
                    <div id="check연말정산자료생성" onclick="PopupOn(18, false, 1920, 1080);">
                        <span class="v-line"></span>
                        연말정산자료생성
                    </div>
                    <div onclick="PopupOn(10, false, 1100, 640);">
                        <span class="v-line"></span>
                        처방전 발급대장
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn" onclick="PopupOn(17, false, 1170, 675);">스캔</button>
                <div class="dropdown-content">
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">예약관리</button>
                <div class="dropdown-content">
                    <div id="check진료">
                        <span class="v-line"></span>
                        진료
                    </div>
                    <div id="checkMRI">
                        <span class="v-line"></span>
                        MRI
                    </div>
                    <div id="check도수치료">
                        <span class="v-line"></span>
                        도수치료
                    </div>
                    <div id="check수술">
                        <span class="v-line"></span>
                        수술
                    </div>
                    <div id="check내시경">
                        <span class="v-line"></span>
                        내시경
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">환경설정</button>
                <div class="dropdown-content">
                    <div id="check프로그램설정" style="width: 200px;">
                        <span class="v-line"></span>
                        프로그램설정
                    </div>
                    <div id="check진료실근무설정">
                        <span class="v-line"></span>
                        진료실 근무 설정
                    </div>
                    <div id="check화면잠금">
                        <span class="v-line"></span>
                        화면잠금
                    </div>
                    <div id="check화면저장">
                        <span class="v-line"></span>
                        화면저장
                    </div>
                </div>
            </div>

            <span id="favorites">

            </span>
        </div>
    </div>
    <div class="borderStyle" id="환자정보"
        style="width: 1895px; height: 108px; margin: 3px 0px 0px 5px; border: none; background-color: rgb(139,200,208);">
        <div style="margin:5px;">
            <div style="padding-top: 5px; color: white;">
                <span class="titleFont" style="width: 50px; color: white;">
                    환자정보
                </span>
                <input class="inputHeight" id="chartNum" type="number" style="width: 70px;"
                    onkeyup="if(window.event.keyCode==13){PatientSearchBtn(this.value)}" />
                <input class="inputHeight" id="patientName" type="text" style="width: 100px;"
                    onkeyup="if(window.event.keyCode==13){PatientSearchBtn(this.value)}" />
                <input class="inputHeight inputReadonly" id="juminNumF" type="text" style="width: 55px;" readonly>
                <input class="inputHeight inputReadonly" id="age" type="text" style="width: 35px; " readonly>
                <!-- <select style="width: 80px; height: 18px;">
                    <option>내국인</option>
                    <option>외국인</option>
                </select> -->
                보험정보 :
                <input type="text" class="inputReadonly" id="insuranceType" style="width: 168px;" readonly>
                <span style="margin-left: 5px;">
                    휴대전화 :
                    <input class="inputHeight inputReadonly" id="phoneNumber" type="text" style="width: 90px;" readonly>
                </span>
                기본주소 :
                <input class="inputHeight inputReadonly" id="detailedAddress" type="text" style="width: 250px;"
                    readonly>
                <!-- <span style="color: white;">- #VIP #만성질환관리</span> -->
            </div>
            <!-- 소개자
            <input type="text" class="inputReadonly" id="introducer" style="width: 100px;" readonly> -->

            <div class="titleFont" style="margin-top: 5px; color: white;">접수정보</div>

            <div style="margin-top: 5px;">
                <table border="1" bgcolor="white" class="receptionInfoTable"
                    style="border: 1px solid rgb(230, 234, 239);">
                    <thead>
                        <tr>
                            <th class="border-style">접수일자</th>
                            <th class="border-style">진료실</th>
                            <th class="border-style">보험유형</th>
                            <th class="border-style">보험구분</th>
                            <th class="border-style">진료구분</th>
                            <th class="border-style">특정기호</th>
                            <th class="border-style">중증번호</th>
                            <th class="border-style">산정특례본인부담율</th>
                            <th class="border-style">의료급여본인부담코드</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr style="height: 30px;">
                            <th class="border-style" id="receiptInfo1" style="width: 300px;"></th>
                            <th class="border-style" id="receiptInfo2" style="width: 300px;"></th>
                            <th class="border-style" id="receiptInfo3" style="width: 300px;"></th>
                            <th class="border-style" id="receiptInfo4" style="width: 300px;"></th>
                            <th class="border-style" id="receiptInfo5" style="width: 300px;"></th>
                            <th class="border-style" id="receiptInfo6" style="width: 300px;"></th>
                            <th class="border-style" id="receiptInfo7" style="width: 300px;"></th>
                            <th class="border-style" id="receiptInfo8" style="width: 300px;"></th>
                            <th class="border-style" id="receiptInfo9" style="width: 300px;"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="grid-stack" style="margin: 2px 0px 0px 2px;">
        <div class="grid-stack-item" gs-w="3" gs-h="6" style="overflow: hidden;">
            <div class="grid-stack-item-content itemBorder">
                <div class="item borderStyle" id="수납정보">
                    <div style="height: 100%; overflow: hidden;">
                        <div style="height: 100%; width: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 5px;  width: 100%;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    style="border: none; margin-top: 3px;"><span class="pointColor">•</span> 수납정보</li>
                            </ul>

                            <div class="scrollBar"
                                style="margin: 3px 5px 5px 10px; min-width: 60px; height: 150px; overflow: scroll; border-radius: 5px; border: none;">
                                <table border="1" bgcolor="white" class="specificDetailsTable commonTable boderNone"
                                    style="min-width: 2000px;">
                                    <thead>
                                        <tr style="border-left: none; border-top: none;">
                                            <th class="border-style boderNone" style="width: 1%;"></th>
                                            <th class="border-style boderNone" style="width: 3%; font-size: 12px;">
                                                구분</th>
                                            <th class="border-style boderNone" style="width: 3%; font-size: 12px;">
                                                발행일자</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                발행번호</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                진료비총액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                청구액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                환자부담총액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                급여총액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                비급여총액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                비급여선택</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                전액본인부담금</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                상한액초과금</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                지원금</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                대불금</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                노인정액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                정액수가</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                총수납금액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                카드수납액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                현금수납액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                할인코드</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                감면금액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                미수금액</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                수납자</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                수납일시</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                진료확인교부번호</th>
                                            <th class="border-style boderNone" style="width: 3%;font-size: 12px;">
                                                건강생활유지비</th>
                                        </tr>
                                    </thead>
                                    <tbody id="specificDetailsList" style="text-align: center;">
                                    </tbody>
                                </table>
                            </div>
                            <div style="min-width: 470px; margin: 5px;">
                                <div>
                                    본인부담산정식
                                    <div><textarea id="acceptInfo1"
                                            style="min-width: 480px; width: 98%; height: 50px; resize: none;"></textarea>
                                    </div>

                                    <div style="margin-top: 3px;">외래접수일자
                                        <input id="acceptInfo2"
                                            style="width: 120px; height: 20px; margin-left: 11px;text-align: center;"
                                            type="date">
                                    </div>
                                    <div style="margin-top: 3px;">수납지시금액
                                        <input class="inputReadonly" id="acceptInfo3" value="0"
                                            style="margin-left: 11px; width: 117px;" type="number">
                                        <input type="checkbox" id="acceptInfo4"
                                            style="margin-left: 15px; vertical-align: middle;">전액 할인
                                    </div>
                                    <div style="margin-top: 3px;">수납할 금액
                                        <input type="number" id="acceptInfo5" value="0"
                                            style="margin-left: 19px; width: 117px;">
                                        <span style="margin-left: 13px;">환자본인부담액</span>
                                        <input type="number" id="acceptInfo6" value="0"
                                            style="margin-left: 19px; width: 117px;">
                                    </div>
                                    <div style="margin-top: 3px;">받음현금
                                        <input type="number" id="acceptInfo7" value="0"
                                            style="margin-left: 35px; width: 117px;">
                                        <input type="checkbox" id="acceptInfo8" value="0"
                                            style="margin-left: 14px; vertical-align: middle;">현금영수증
                                    </div>
                                    <div style="margin-top: 3px;">거스름돈
                                        <input type="number" class="inputReadonly" id="acceptInfo9" value="0"
                                            style="margin-left: 35px; width: 117px;">
                                    </div>
                                    <div style="margin-top: 3px;">카드결제금액
                                        <input type="number" id="acceptInfo10" value="0"
                                            style="margin-left: 11px; width: 117px;">
                                        <span style="margin-left: 13px;">
                                            이미수납한금액
                                        </span>
                                        <input type="number" class="inputReadonly" value="0" id="acceptInfo25"
                                            style="margin-left: 19px; width: 117px;">
                                    </div>
                                    <div style="margin-top: 3px;">계좌이체금액
                                        <input type="number" id="acceptInfo11" value="0"
                                            style="margin-left: 11px; width: 117px;">
                                        <span style="margin-left: 16px;">유지비
                                            차감액</span><input type="number" value="0" class="inputReadonly"
                                            id="acceptInfo12" style="margin-left: 28px;  width: 117px;">
                                    </div>
                                    <div style="margin-top: 3px;">산전지원금
                                        <select id="acceptInfo13" style="width: 124px; margin-left: 23px;"></select>
                                        <span style="margin-left: 15.5px;">상한 초과금액</span>
                                        <input type="number" class="inputReadonly" value="0" id="acceptInfo14"
                                            style="margin-left: 24.2px;  width: 117px;">
                                    </div>
                                    <div style="margin-top: 3px;">할인코드
                                        <select id="acceptInfo15" style="width: 124px; margin-left: 35px;">
                                        </select><span style="margin-left: 20px;">장애인 의료비</span>
                                        <input type="number" class="inputReadonly" value="0" id="acceptInfo16"
                                            style="margin-left: 24.2px;  width: 117px;">
                                    </div>
                                    <div style="margin-top: 3px;">감면(할인)금액
                                        <input type="number" id="acceptInfo17" value="0"
                                            style="margin-left: 3.8px; width: 117px;">
                                        <input type="checkbox" id="acceptInfo18"
                                            style="margin-left: 15px; vertical-align: middle;">의료비신고
                                    </div>
                                    <div style="margin-top: 23px;">총 수납금액
                                        <input type="number" id="acceptInfo19" value="0"
                                            style="margin-left: 19px; width: 117px;">
                                        <input type="checkbox" id="acceptInfo20"
                                            style="margin-left: 15px; vertical-align: middle;">영수증 미발행
                                    </div>
                                    <div style="margin-top: 3px;">발생미수금액
                                        <input type="number" class="inputReadonly" value="0" id="acceptInfo21"
                                            style="margin-left: 11px; width: 117px;">
                                        <span style="margin-left: 14px;"></span>
                                        기존미수금액<input type="number" class="inputReadonly" value="0" id="acceptInfo22"
                                            style="margin-left: 35px;  width: 117px;">
                                    </div>
                                    <div style="margin-top: 5px;">발행일자
                                        <input type="date" id="acceptInfo23"
                                            style="width: 120px; margin-left: 35px; text-align: center;">
                                    </div>
                                    <div style="margin-top: 5px;">수납메모
                                        <input type="text" id="acceptInfo24" style="margin-left: 35px; width: 360px;">
                                    </div>
                                    <div style="margin-top: 20px;">
                                        <span>
                                            <button id="storageCompleteBtn" style="width: 117px;"
                                                onclick="CmdReceiptProcess_Click();">수납</button>
                                        </span>
                                    </div>
                                    <span style="float: right; margin-top: -23px; margin-right: 12px;">
                                        <button style="width: 117px;" onclick="CmdReceiptViewer_Click()">영수증 뷰어</button>
                                        <button style="width: 117px;" onclick="CmdPrscrptnRePrint_Click()">처방전
                                            재발행</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="3">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="진료대기">
                    <div style="margin-top: 1px; height: 139.2%;">
                        <ul class="patientListTabs" style="width: 400px; margin-left: 6px;">
                            <li class="patientListTab-link current" id="patientListStay" data-tab="patientListTab-1">대기
                            </li>
                            <li class="patientListTab-link" id="inTreatmentList" data-tab="patientListTab-2"
                                style="margin-left: -6px">진료중</li>
                            <li class="patientListTab-link" id="holdOnList" data-tab="patientListTab-3"
                                style="margin-left: -6px;">보류</li>
                            <li class="patientListTab-link" id="completeList" data-tab="patientListTab-4"
                                style="margin-left: -6px;">완료</li>
                            <li class="patientListTab-link" id="reservationList" data-tab="patientListTab-5"
                                style="margin-left: -6px;">예약(0)</li>
                        </ul>
                        <div style="margin-top: 3px;">
                            <span class="basicDateMargin" style="float: right;">
                                <input class="titleFont" id="patientListDate" type="date" name="today"
                                    style="border: none; background-color: white; width: 120px;">
                            </span>
                        </div>
                        <div id="patientListTab-1" class="scrollBar patientListTab-content current"
                            style="height: 64.7%;  overflow: scroll;">
                            <table border="1" bgcolor="white" class="patientListTable commonTable boderNone"
                                style="width: 100%; margin-left: 10px;">
                                <thead>
                                    <tr class="boderLeftNone">
                                        <th class="border-style boderNone" style="width: 1%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">환자성명
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">접수시간</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">보험</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료상태</th>
                                        <th class="border-style boderNone" style="width: 50%;font-size: 12px;">전달사항</th>
                                    </tr>
                                </thead>
                                <tbody id="patientList" style="text-align: center; border: none;">

                                </tbody>
                            </table>

                        </div>
                        <div id="patientListTab-2" class="scrollBar patientListTab-content"
                            style="height: 64.7%; border-radius: 3px; overflow: scroll;">
                            <table border="1" bgcolor="white" class="patientListTable commonTable boderNone"
                                style="width: 100%; margin-left: 10px;">
                                <thead>
                                    <tr class="boderLeftNone">
                                        <th class="border-style boderNone" style="width: 1%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">환자성명
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">접수시간</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">보험</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료상태</th>
                                        <th class="border-style boderNone" style="width: 50%;font-size: 12px;">전달사항</th>
                                    </tr>
                                </thead>
                                <tbody id="inTreatmentTable" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                        <div id="patientListTab-3" class="scrollBar patientListTab-content"
                            style="height: 64.7%; border-radius: 3px; overflow: scroll;">
                            <table border="1" bgcolor="white" class="patientListTable commonTable boderNone"
                                style="width: 100%; margin-left: 10px;">
                                <thead>
                                    <tr class="boderLeftNone">
                                        <th class="border-style boderNone" style="width: 1%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">환자성명
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">접수시간</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">보험</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료상태</th>
                                        <th class="border-style boderNone" style="width: 50%;font-size: 12px;">전달사항</th>
                                    </tr>
                                </thead>
                                <tbody id="holdOnTable" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                        <div id="patientListTab-4" class="scrollBar patientListTab-content"
                            style="height: 64.7%; border-radius: 3px; overflow: scroll; ">
                            <table border="1" bgcolor="white" class="patientListTable commonTable boderNone"
                                style="width: 100%; margin-left: 10px;">
                                <thead>
                                    <tr class="boderLeftNone">
                                        <th class="border-style boderNone" style="width: 1%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">환자성명
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">접수시간</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">보험</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">진료상태</th>
                                        <th class="border-style boderNone" style="width: 50%;font-size: 12px;">전달사항</th>
                                    </tr>
                                </thead>
                                <tbody id="completeTable" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                        <div id="patientListTab-5" class="scrollBar patientListTab-content current commonTab"
                            style="height: 64.7%; border-radius: 3px; overflow: scroll;">
                            <table border="1" bgcolor="white" class="commonTable boderNone" style="margin-left: 10px;">
                                <thead>
                                    <tr class="boderLeftNone">
                                        <th class="border-style boderNone" style="width: 1%;"></th>
                                        <th class="border-style boderNone" style="width: 10%; font-size: 12px;">차트번호
                                        </th>
                                        <th class="border-style boderNone" style="width: 15%; font-size: 12px;">환자성명
                                        </th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">나이</th>
                                        <th class="border-style boderNone" style="width: 10%;font-size: 12px;">예약시간</th>
                                        <th class="border-style boderNone" style="width: 15%;font-size: 12px;">진료실</th>
                                        <th class="border-style boderNone" style="width: 15%;font-size: 12px;">휴대전화</th>
                                        <th class="border-style boderNone" style="width: 15%;font-size: 12px;">예약메모
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="reservationTable" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="3">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item" id="상병내역">
                    <div style="height: 100%;">
                        <div style="height: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 5px; width: 400px;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    id="patientListStay" style="border: none; margin-top: 3px;"><span
                                        class="pointColor">•</span> 상병내역</li>
                            </ul>
                            <div id="waitingPatientTab-1" class="scrollBar waitingPatientTab-content current commonTab"
                                style="height: 90.8%; border: none; ">
                                <table border="1" bgcolor="white" class="waitingTable boderNone"
                                    style="width: 100%; margin : 2px 0px 0px 10px">
                                    <thead>
                                        <tr class="boderLeftNone" style="border-top: none;">
                                            <th class="border-style" style="width: 1%; border: none;"></th>
                                            <th class="border-style" style="width: 25%; border: none; font-size: 12px;">
                                                상병코드
                                            </th>
                                            <th class="border-style" style="width: 50%; border: none; font-size: 12px;">
                                                상병명칭
                                            </th>
                                            <th class="border-style" style="width: 25%; border: none; font-size: 12px;">
                                                상병종류
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="diseaseCodeList" style="text-align: center;">
                                        <tr id="diseaseCodeInput" style="border: none;">
                                            <th class="border-style boderLeftNone" style="width: 3px;">></th>
                                            <th rowspan="1" colspan="17" class="border-style" style="width: 100%;">
                                                <input type="text"
                                                    style="width: 95%; border: none; background-color: white; text-align: center;"
                                                    placeholder="코드/명칭(지시오더:'=')입력.'/청구코드'or/명칭'입력(마스터 조회=원외처방만)"
                                                    onclick="DiseaseCodeInputCreate();">
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="2">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="달력">
                    <ul class="waitingPatientTabs" style="margin : 5px 0px 0px 5px; width: 400px;">
                        <!-- <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1" style="border: none;">
                            달력</li> -->
                    </ul>
                    <span style="float: left;">
                        <div style="margin-top: 1.5px; margin-left: -1px;">
                            <table class="Calendar" style="margin-top: 5px;">
                                <thead>
                                    <tr>
                                        <div style="text-align: center; margin-bottom: 12px;">
                                            <span onClick="prevCalendar();"
                                                style="cursor:pointer;  font-size: 15px; font-weight: bold;">&#60;</span>
                                            <span colspan="5" style="margin-left: 20px; margin-right: 20px;">
                                                <span style="font-size: 15px;">
                                                    <span id="calYear1"></span>년
                                                    <span id="calMonth1"></span>월
                                                </span>
                                            </span>
                                            <span onClick="nextCalendar();"
                                                style="cursor:pointer;  font-size: 15px; font-weight: bold;">&#62;</span>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td style="width: 30px; height: 20px;">일</td>
                                        <td style="width: 30px; height: 20px;">월</td>
                                        <td style="width: 30px; height: 20px;">화</td>
                                        <td style="width: 30px; height: 20px;">수</td>
                                        <td style="width: 30px; height: 20px;">목</td>
                                        <td style="width: 30px; height: 20px;">금</td>
                                        <td style="width: 30px; height: 20px;">토</td>
                                    </tr>
                                </thead>
                                <tbody id="Calendar1">
                                </tbody>
                            </table>
                        </div>
                    </span>
                    <span style="float: right">
                        <div style="margin-top: 1.5px;">
                            <table class="Calendar" style="margin-top: 5px;">
                                <thead>
                                    <tr>
                                        <div style="text-align: center; margin-bottom: 12px;">
                                            <span onClick="prevCalendar();"
                                                style="cursor:pointer;  font-size: 15px; font-weight: bold;">&#60;</span>
                                            <span colspan="5" style="margin-left: 20px; margin-right: 20px;">
                                                <span style="font-size: 15px;">
                                                    <span id="calYear2"></span>년
                                                    <span id="calMonth2"></span>월
                                                </span>
                                            </span>
                                            <span onClick="nextCalendar();"
                                                style="cursor:pointer;  font-size: 15px; font-weight: bold;">&#62;</span>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td style="width: 30px; height: 20px;">일</td>
                                        <td style="width: 30px; height: 20px;">월</td>
                                        <td style="width: 30px; height: 20px;">화</td>
                                        <td style="width: 30px; height: 20px;">수</td>
                                        <td style="width: 30px; height: 20px;">목</td>
                                        <td style="width: 30px; height: 20px;">금</td>
                                        <td style="width: 30px; height: 20px;">토</td>
                                    </tr>
                                </thead>
                                <tbody id="Calendar2">
                                </tbody>
                            </table>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="2">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item" id="처방기록">
                    <div style="height: 100%;">
                        <div style="height: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 5px; width: 400px;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    id="patientListStay" style="border: none; margin-top: 3px;"><span
                                        class="pointColor">•</span> 처방기록</li>
                            </ul>
                            <div style="display: none;">
                                <span class="basicDateMargin" style="float: right;">
                                    <span class="input_date_box">
                                        <input class="titleFont" id="diagNoteSDay" type="date" name="threeMonthsAgo"
                                            style="border: none; background-color: white; width: 120px;">
                                    </span>
                                    ~
                                    <span class="input_date_box">
                                        <input class="titleFont" id="diagNoteEDay" type="date" name="today"
                                            style="border: none; background-color: white; width: 120px;">
                                    </span>
                                </span>
                            </div>
                            <div id="waitingPatientTab-1" class="scrollBar waitingPatientTab-content current commonTab"
                                style="height: 86.5%; border: none;">
                                <table border="1" bgcolor="white" class="waitingTable  commonTable"
                                    style="width: 100%;">
                                    <tbody id="" style="text-align: center;">
                                        <td colspan="10">
                                            <div id="accordion-container"></div>
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" gs-w="6" gs-h="3">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item borderStyle" id="진료내역">
                    <div style="height: 100%; margin-top: 5px;">
                        <ul class="treatmentHistoryListTabs" style="width: 100%;">
                            <li class="treatmentHistoryListTab-link current" data-tab="treatmentHistoryListTab-1"><span
                                    class="pointColor">•</span> 처방내역
                            </li>
                            <li class="treatmentHistoryListTab-link" data-tab="treatmentHistoryListTab-2"
                                style="margin-left: -6px;">삭제</li>
                            <!--<li class="treatmentHistoryListTab-link" data-tab="treatmentHistoryListTab-3"
                                style="margin-left: -6px;">PRN</li>
                            <li class="treatmentHistoryListTab-link" data-tab="treatmentHistoryListTab-4"
                                style="margin-left: -6px;">임상병리결과</li>
                            <li class="treatmentHistoryListTab-link" data-tab="treatmentHistoryListTab-5"
                                style="margin-left: -6px;">심사참고</li> -->
                        </ul>
                        <div style="float: right; width: 345px; margin: -23px 5px 0px 0px;">
                            <button style="width: 80px;" onclick="TreatmentDetailsBtns('complete');">완료</button>
                            <button style="width: 80px; margin-left: 1px;"
                                onclick="TreatmentDetailsBtns('save')">저장</button>
                            <button style="width: 80px; margin-left: 1px;"
                                onclick="TreatmentDetailsBtns('hold')">보류</button>
                            <button style="width: 80px; margin-left: 1px;"
                                onclick="TreatmentDetailsBtns('cancel')">취소</button>
                            <!-- <button onclick="SpecificDetailsBtn();">특정내역</button> -->
                        </div>
                        <div id="treatmentHistoryListTab-1" class="treatmentHistoryListTab-content current scrollBar"
                            style="height: 82.5%; border-radius: 3px; overflow: scroll; border: none; margin-top: 10px;">
                            <table border="1" bgcolor="white" class="treatmentHistoryListTable"
                                id="treatmentHistoryListTable" style="width: 100%; margin-left: 10px; border: none;">
                                <thead>
                                    <tr class="boderLeftNone" style="border-top: none;">
                                        <th class="border-style" style="width: 3px; border: none;"></th>
                                        <th class="border-style" style="width: 80px; font-size: 12px; border: none;">번호
                                        </th>
                                        <th class="border-style" style="width: 100px; font-size: 12px; border: none;">
                                            처방코드</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">명칭
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">1회
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">횟수
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">일수
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">
                                            용법/검체/부위/방법</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">외
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">파우더
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">MIX
                                        </th>
                                        <!-- <th class="border-style" style="width: 30px;font-size: 12px; border: none;">포터블</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">응급</th> -->
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">예외
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">메모
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">산정
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">급여
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">단가
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">처방의
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="treatmentHistoryList" style="text-align: center;">
                                    <tr id="recipeCodeInput" style="border: none;">
                                        <th class="border-style" style="width: 3px; border-left: none;">></th>
                                        <th rowspan="1" colspan="17" class="border-style" style="width: 100%;"><input
                                                type="text"
                                                style="width: 95%; border: none; background-color: white; text-align: center;"
                                                placeholder="코드/명칭(지시오더:'=')입력.'/청구코드'or/명칭'입력(마스터 조회=원외처방만)"
                                                onclick="RecipeCodeInputCreate();"></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="checkDiag" style="margin-top: 5px">
                            <span id="checkDiagTime" style="margin-left: 5px;">
                                [1진료실 홍종우]
                                [<input type="text" id="checkDiagTime1" style="width: 67px; border: none;">
                                <span id="checkDiagTime2">목</span>
                                <input type="text" id="checkDiagTime3" style="width: 51px; border: none;">]
                                [대기 <input type="text" id="checkDiagTime4" style="width: 51px; border: none;">]
                                [진료 <input type="text" id="checkDiagTime5" style="width: 51px; border: none;"
                                    maxlength="8" oninput="MaxInput(this)" onclick="ResetDiagTime()">]
                            </span>
                            <div style="float: right; margin-right: 5px;">
                                <span>
                                    매출 :
                                    <input id="checkDiagPay1" type="number" class="inputReadonly">
                                </span>
                                <span>
                                    자부담 :
                                    <input id="checkDiagPay2" type="number" class="inputReadonly">
                                </span>
                            </div>
                        </div>
                        <div id="treatmentHistoryListTab-2" class="treatmentHistoryListTab-content scrollBar"
                            style="height: 82.5%; border-radius: 3px; overflow: scroll; border: none; margin-top: 10px;">
                            <table border="1" bgcolor="white" class="treatmentHistoryListTable"
                                id="treatmentHistoryListTable" style="width: 100%; margin-left: 10px; border: none;">
                                <thead>
                                    <tr style="border: none;">
                                        <th class="border-style" style="width: 3px; border-left: none;"></th>
                                        <th class="border-style" style="width: 80px; font-size: 12px; border: none;">번호
                                        </th>
                                        <th class="border-style" style="width: 100px; font-size: 12px; border: none;">
                                            처방코드</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">명칭
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">1회
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">횟수
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">일수
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">
                                            용법/검체/부위/방법</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">외
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">파우더
                                        </th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">MIX
                                        </th>
                                        <!-- <th class="border-style" style="width: 30px;font-size: 12px; border: none;">포터블</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px; border: none;">응급</th> -->
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">예외
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">메모
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">산정
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">급여
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">단가
                                        </th>
                                        <th class="border-style" style="width: 100px;font-size: 12px; border: none;">처방의
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="treatmentHistoryList1" style="text-align: center;">
                                </tbody>
                            </table>
                            <!--  <div id="treatmentHistoryListTab-3" class="treatmentHistoryListTab-content"
                            style="height: 59%; margin-left: 5px; border-radius: 3px; overflow: scroll; overflow-x: hidden;">
                            <table border="1" bgcolor="white" class="treatmentHistoryListTable">
                                <thead>
                                    <tr>
                                        <th class="border-style" style="width: 3px;"></th>
                                        <th class="border-style" style="width: 80px; font-size: 12px;">구분</th>
                                        <th class="border-style" style="width: 100px; font-size: 12px;">DC</th>
                                        <th class="border-style" style="width: 200px;font-size: 12px;">픽업</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">번호</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">처방코드</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">명칭</th>
                                        <th class="border-style" style="width: 80px; font-size: 12px;">번호</th>
                                        <th class="border-style" style="width: 100px; font-size: 12px;">처방코드</th>
                                        <th class="border-style" style="width: 200px;font-size: 12px;">명칭</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">1회</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">횟수</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">일수</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">용법/검체/부위/방법</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">외</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">파우더</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">MIX</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">포터블</th>
                                        <th class="border-style" style="width: 30px;font-size: 12px;">응급</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px;">예외</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px;">메모</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px;">산정</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px;">급여</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px;">단가</th>
                                        <th class="border-style" style="width: 100px;font-size: 12px;">처방의</th>
                                    </tr>
                                </thead>
                                <tbody id="" style="text-align: center;">
                                </tbody>
                            </table>
                        </div>
                        <div id="treatmentHistoryListTab-4" class="treatmentHistoryListTab-content"
                            style="height: 59%; margin-left: 5px; border-radius: 3px;">
                            <table border="1" bgcolor="white" class="diagnosisSangbyeongListTable">
                                <div
                            style="margin-top: 5px; margin-left: 5px; width: 120px; height: 473px; border: 1px solid; float: left;">
                            <div style="text-align: center;">검사일자</div>
                        </div>
                        <div
                            style="margin-top: 5px; margin-left: 130px; margin-right: 5px; height: 473px; border: 1px solid; overflow: scroll; overflow-x: hidden;">                               
                        </div> 

                            </table>
                        </div>
                        <div id="treatmentHistoryListTab-5" class="treatmentHistoryListTab-content"
                            style="margin-left: 5px; border-radius: 3px;">
                            <div
                                style="margin-top: 3px; margin-left: 3px; width: 49.5%; height: 98%; background-color: rgb(204,244,244);float: left; border: 1px solid; border-radius: 5px;">
                                <textarea style="margin-top: 5px; margin-left: 10px; width: 89%; height: 400px; overflow: scroll;
                         overflow-x: hidden; resize: none;"></textarea>
                            </div>
                            <textarea style="margin-right: 5px; margin-top: 4px; float: right; width: 46.5%; height: 435px; overflow: scroll;
                    overflow-x: hidden; resize: none;"></textarea>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="grid-stack-item" gs-w="3" gs-h="2">
            <div class="grid-stack-item-content itemBorder" style="overflow: hidden;">
                <div class="item" id="진료기록">
                    <div style="height: 100%;">
                        <div style="margin-top: 5px; height: 100%;">
                            <ul class="waitingPatientTabs" style="margin-left: 8.5px; width: 400px;">
                                <li class="waitingPatientTab-link current" data-tab="waitingPatientTab-1"
                                    id="patientListStay" style="border: none; pointer-events: none"><span
                                        class="pointColor">•</span> 과거진료기록</li>
                                <img src="../Image/Public/refreshBtn.png" alt="새로고침" class="titleBtwnImgBtn">
                                <img src="../Image/Public/refreshBtn.png" alt="프린트" class="titleBtwnImgBtn">
                            </ul>
                            <div>
                            </div>
                            <!-- <div id="" class="scrollBar waitingPatientTab-content current commonTab"
                                style="height: 91%;">
                                <table border="1" bgcolor="white" class="waitingTable">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div> -->
                            <div id="" style="height: 91%;">
                                <textarea id="diagnosisNote2" class="scrollBar"
                                    style="width: 99%; height: 100%; border-radius: 0px; margin: -1px; resize: none; overflow-y: scroll;"
                                    readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="EMRClass/Common/BL/심사BL.js"></script>
    <script src="EMRClass/Common/BL/수납BL.js"></script>
    <script src="EMRClass/Common/BL/진료처방BL.js"></script>
    <script src="EMRClass/Common/BL/CommonBL.js"></script>
    <script src="EMRClass/Common/BL/처방전BL.js"></script>

    <script src="EMRClass/공통업무/Constants/CdSpcfSmblConstant.js"></script>
    <script src="EMRClass/공통업무/Constants/특정기호구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/상해외인Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/본인부담여부Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/보험종별구분_급여Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/의약분업예외구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/급여적용Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/수납구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/처방항목구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/처방항구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/특정코드Constants.js"></script>
    <script src="EMRClass/공통업무/Constants/RcptItemConstant.js"></script>
    <script src="EMRClass/공통업무/Constants/CommonConstants.js"></script>
    <script src="EMRClass/공통업무/Constants/보험종별구분_공통Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/ErrorMessageConstant.js"></script>
    <script src="EMRClass/공통업무/Constants/진료과목Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/산정코드0801Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/지원구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/항번호Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/산정코드AA진찰료1Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/처방코드정보필드Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/환자메모구분Constant.js"></script>
    <script src="EMRClass/공통업무/Constants/보험종별구분_공단Constant.js"></script>

    <script src="EMRClass/Common/Entity/사용자정보.js"></script>
    <script src="EMRClass/Common/Entity/C원내조제일수.js"></script>
    <script src="EMRClass/Common/Entity/진료상병.js"></script>
    <script src="EMRClass/Common/Entity/C대기환자정보.js"></script>
    <script src="EMRClass/Common/Entity/진료처방.js"></script>
    <script src="EMRClass/Common/Entity/C처방전.js"></script>
    <script src="EMRClass/Common/Entity/C처방전출력상세.js"></script>

    <script src="EMRClass/진료비/C의약품수기료.js"></script>
    <script src="EMRClass/진료비/C조제투여정보.js"></script>
    <script src="EMRClass/진료비/C진료비영수증.js"></script>
    <script src="EMRClass/진료비/C진료비항목.js"></script>
    <script src="EMRClass/진료비/C영수증기본정보.js"></script>
    <script src="EMRClass/진료비/C요양급여산정율.js"></script>
    <script src="EMRClass/진료비/C본인부담산정식.js"></script>

    <script src="EMRClass/Common/VM/지원정보ViewModel.js"></script>

    <script src="EMRClass/공통업무/Enums/병원유형Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/환자평가표종류Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/산정특례Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/코드종류Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방수정구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방코드종류Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방행위구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/검진구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/가산정보구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/지원상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/계산유형Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/수납유형입원Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/CommonYesOrNoEnum.js"></script>
    <script src="EMRClass/공통업무/Enums/근무상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/직분구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/진료비영수증종류Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/검사구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/병원종별Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/상병성별구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/픽업상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/나이등급Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/투여방법Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방코드구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/야간공휴구분산정코드Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방등록구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/메모상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/ProgressNote구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/할인코드042Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/영수증마감Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/선택의료신청Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/보험청구여부Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/수납상태구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/초재진구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/정액정율Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/나이구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/지원구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/진료상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/현재진료중Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/보험구분002Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/외래입원구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/HsptlInfo수납_100원미만절사Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/양한방구분Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/원무심사상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/DUR점검상태Enum.js"></script>
    <script src="EMRClass/공통업무/Enums/처방전출력구분Enum.js"></script>

    <script src="EMRClass/Common/VM/보험정보ViewModel.js"></script>
    <script src="EMRClass/Common/VM/자동코드ViewModel.js"></script>
    <script src="EMRClass/Common/VM/진료처방ViewModel.js"></script>
    <script src="EMRClass/Common/VM/사용자정보ViewModel.js"></script>
    <script src="EMRClass/Common/VM/진료비공통ViewModel.js"></script>
    <script src="EMRClass/Common/VM/접수정보ViewModel.js"></script>
    <script src="EMRClass/Common/VM/코드정보ViewModel.js"></script>
    <script src="EMRClass/Common/VM/지원정보ViewModel.js"></script>

    <script src="EMRClass/Common/Utils/CommonUtils.js"></script>
    <script src="EMRClass/Common/Utils/Common접수Util.js"></script>
    <script src="EMRClass/Common/Utils/postGetData.js"></script>

    <script src="EMRClass/EF/T_NOTE_TYPE.js"></script>
    <script src="EMRClass/EF/T_TREAT_DX.js"></script>
    <script src="EMRClass/EF/T_APPNTMNT.js"></script>
    <script src="EMRClass/EF/T_TREAT_NOTE.js"></script>
    <script src="EMRClass/EF/T_CHART_MEMO.js"></script>
    <script src="EMRClass/EF/T_TREAT.js"></script>
    <script src="EMRClass/EF/T_ACCEPT.js"></script>
    <script src="EMRClass/EF/T_CHART_INS.js"></script>
    <script src="EMRClass/EF/T_CHART.js"></script>
    <script src="EMRClass/EF/T_ACCEPT_CHRG_PREV.js"></script>

    <script src="getDB.js"></script>
    <script src="common.js"></script>
    <script src="acceptance.js"></script>
    <!-- <script src="prescription.js"></script> -->
    <script src="patientInquiry.js"></script>
    <script src="basicInfo//prescriptionCode.js"></script>
    <script src="diseaseCode.js"></script>
    <script src="frm수납지시.js"></script>
    <script src="pastMedicalRecords.js"></script>
    <!-- <script src="EMRClass/EF/T_DEPT_SPRT.js"></script> -->
</body>

</html>
