body {
  margin: 0;
  padding: 0;

  background-color: rgb(231, 231, 231);
  font-family: 'Nanum Gothic';
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

img {
  border-radius: 2px;
  height: 19px;
}

div {
  color: rgb(102, 102, 102);
  font-size: 9pt;
}

select {
  font-size: 9pt;
  font-weight: normal;
  outline: none;

  border-color: rgb(203, 212, 221);
  border-style: solid;
  border-width: 1px;
  border: none;

  padding: .0em 0em .0em .3em;
  width: 80px;
  height: 19px;

  background: url('../Image/Public/SelectOpion.png') no-repeat 100% 50%;

  -webkit-appearance: none;
  /* 크롬 화살표 없애기 */
  -moz-appearance: none;
  /* 파이어폭스 화살표 없애기 */
  appearance: none;
  /* 화살표 없애기 */

  background-color: rgb(245, 248, 251);
  color: rgb(102, 102, 102);
  cursor: pointer;

  font-family: 'Nanum Gothic';
}

option {
  font-weight: normal;
}

button {
  color: rgb(255, 255, 255);
  cursor: pointer;

  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  /* border: none; */

  background-color: rgb(139, 200, 208);
  height: 24px;
  text-align: center;
  font-size: 9pt;

  font-family: 'Nanum Gothic';
}

/* #region input관련 */
input {
  font-size: 9pt;
  font-weight: normal;
  outline: none;
  color: rgb(102, 102, 102);


  border-color: rgb(204, 228, 228);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;

  background-color: white;

  line-height: 15px;
  height: 15px;

  font-family: 'Nanum Gothic';
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputReadonly {
  /* background-color: rgb(211, 227, 243); */
  border: none;

  outline: none;
  pointer-events: none;
  background-color: rgb(204, 221, 239);
}

input[type="date"] {
  position: relative;
  height: 19px;
  border: 1px solid #ddd;
  border-color: rgb(203, 212, 221);
  border: none;

  background-color: rgb(245, 248, 251);
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  cursor: pointer;
  background: #fff url('../Image/Public/calendarImg.png') center center /contain;
  margin-top: -1px;
}

input[type="month"] {
  position: relative;
  height: 19px;
  border: 1px solid #ddd;
  border-color: rgb(203, 212, 221);
  background-color: rgb(245, 248, 251);
}

input[type="month"]::-webkit-clear-button,
input[type="month"]::-webkit-inner-spin-button {
  display: none;

}

input[type="month"]::-webkit-calendar-picker-indicator {
  background: transparent;
  cursor: pointer;
  background: #fff url('../Image/Public/calendarImg.png') center center /contain;

}

::placeholder {
  color: #666;
  /* 연한 회색 */
  opacity: 0.5;
  /* 투명도 조절 (0부터 1까지의 값) */
}

/* #endregion */
table,
th,
tr {
  border: 1px solid rgb(230, 234, 239);
  border-right: none;
  /* border: none; */
  border-collapse: collapse;
  color: transparent;
  text-shadow: 0 0 0 rgb(102, 102, 102);

  &:focus {
    outline: none;
  }
}

td {
  border: 1px solid rgb(230, 234, 239);
  border-right: none;
  border-collapse: collapse;
  color: transparent;
  text-shadow: 0 0 0 rgb(102, 102, 102);
  table-layout: fixed;
}

td:focus {
  outline: none;
}

textarea {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  outline: none;
  font-size: 9pt;
  font-family: 'Nanum Gothic';
}

textarea.no-border {
  border-bottom: none;
}

.itemBorder {
  border-width: 0px;
  border-color: rgb(197, 220, 235);
  border-style: solid;
  border-radius: 5px;
}

.pointColor {
  color: rgb(128, 193, 255);
}

.scrollBar::-webkit-scrollbar {
  width: 10px;
  /* 스크롤바의 너비 */
  height: 10px;
  /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: white;
  /* 스크롤바의 색상 */
  border: 1px solid rgb(204, 228, 228);

  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
  background: white;
}

.input_date_box input:after {
  position: absolute;
  top: 50%;
  right: 1px;
  content: '';

  height: 17px;
  background: #fff url('../Image/Public/calendarImg.png') center center /contain;
  transform: translateY(-50%);
  z-index: 0;

}

.overflow_hidden {
  overflow: hidden;
}

.menu {
  width: 100%;
  padding-bottom: 1px;
  background-color: rgb(231, 231, 231);
}

.line {
  background-color: rgb(230, 234, 239);
  height: 1px;
  box-shadow: 0px 1px white;
}

.v-line {
  border-left: thick solid rgb(205, 214, 224);
  border-width: 1px;

  margin-left: 25px;
  margin-right: 5px;
  box-shadow: 1px 0px white;
}

.v-checkBoxLine {
  border-left: thick solid rgb(205, 214, 224);
  border-width: 1px;
  margin-right: 5px;
  height: 100px;
  box-shadow: 1px 0px white;
}

.SCPoint {
  color: rgb(128, 193, 255);
}

.buttonColor {
  background-color: rgb(211, 227, 243);
}

.titleFont {
  font-size: 10pt;
  color: rgb(102, 102, 102);
  font-weight: bold;
}

.titleBackGround {
  width: 100%;
  background-color: white;

  margin: 5px;
}

.ImgTrans {
  vertical-align: top;
  margin-top: 3px;
  cursor: pointer;
}

.titleBtwnImgBtn {
  vertical-align: top;
  margin-top: 12px;
  cursor: pointer;
}

.borderStyle {
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(197, 220, 235);
  border-style: solid;

  background-color: white;
  border: none;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: rgb(233, 233, 233);
  color: rgb(102, 102, 102);
  font-size: 12px;
  font-weight: normal;
  border: none;
  margin-top: 3px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;

  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;

  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(139, 200, 208);

  border-radius: 3px;
}

/* 달력 */
.Calendar {
  text-align: center;
  margin: 0 auto;
  border-color: white;
}

.Calendar>thead>tr:first-child>td {
  font-weight: bold;
  border-color: white;
}

.Calendar>thead>tr:last-child>td {
  border-color: white;
  color: rgb(102, 102, 102);
}

.today {
  background-color: white;
  cursor: pointer;
}

.futureDay {
  background-color: #FFFFFF;
  cursor: pointer;
  border-color: white;
}

.pastDay {
  background-color: #FFFFFF;
  cursor: pointer;
  border-color: white;
}

.selectDay {
  background-color: rgb(211, 227, 243);
  cursor: pointer;
  border-color: white;
}

.futureDay.choiceDay,
.today.choiceDay,
.pastDay.choiceDay,
.selectDay.choiceDay {
  background-color: rgb(197, 220, 235);
  color: #fff;
  cursor: pointer;
  border-color: white;
}

.disableResize {
  resize: none !important;
}



.basicDateMargin {
  float: right;
  margin: -30px 5px 0px 0px;
}

.basicPngMargin {
  margin-left: 10px;
}

.dateBorderNone {
  border: none;
  background-color: white;
}

.basicTable {
  width: 100%;
  margin-left: -1px;
  border-radius: 0px;
  overflow: scroll;
  overflow-x: hidden;
}

.commonTab {
  width: 100%;
  margin-left: -1px;
  border-radius: 0px;
  overflow: scroll;

}

.commonTable {
  margin-top: -1px;
  width: 100%;
  min-width: 700px;
}


/* 아코디언 스타일 */
.accordion-item {
  margin-top: -15px;
  width: 100%;
}

.accordion-button {
  background-color: rgb(211, 227, 243);
  color: rgb(102, 102, 102);
  border: none;
  text-align: left;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  font-size: 10pt;
}

.accordion-button:hover {
  background-color: rgb(197, 220, 235);
}

.accordion::after {
  content: '\002B';
  float: right;
}

.accordion.active::after {
  content: '\2212';
  float: right;
}

.accordion-collapse {
  background-color: #f8f9fa;
  overflow: hidden;
}

.accordion-body {
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  margin-left: 10px;
}

/* 활성화된 아코디언 스타일 */
.accordion-button.active {
  background-color: rgb(197, 220, 235);
}

.accordion-collapse.active {
  display: block;
  width: 100%;
}

.accordion-content {
  display: none;
  width: 100%;
}

.accordion-content.active {
  display: block;
  margin-top: -15px;
  width: 100%;
  background-color: white;
}

.fixed-width {
  width: 0px;
  /* 원하는 너비로 설정 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-context-menu {
  position: absolute;
  box-sizing: border-box;
  min-height: 100px;
  min-width: 200px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 2px lightgrey;
}

.custom-context-menu ul {
  list-style: none;
  padding: 0;
  background-color: transparent;
}

.custom-context-menu li {
  padding: 3px 5px;
  cursor: pointer;
}

.custom-context-menu li:hover {
  background-color: #f0f0f0;
}

.mousePointer{
  cursor: pointer;
}

.sticky-col {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  left: -1px;
  background-color: white;
  z-index: 1; /* Ensure the sticky column is above other content */
  margin-left: -1px;
}

.sticky-row {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  bottom: -1px;
  background-color: white;
  z-index: 2; /* Ensure the sticky row is above other content */
}

.sticky-row .sticky-col {
  z-index: 3; /* Ensure the intersection of sticky column and row is on top */
}

.boderNone{
  border: none;
}

.boderLeftNone{
  border-left: none;
}